<html lang="en">
<head>
    <title>MEHAR SUPER SPECIALITY HOSPITAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

    <style>
        html {
            font-family: auto;
        }

        @page {
            size: A4 !important;
            margin: 0;
        }

        .ui.table tr td {
            border-top: 0 !important;
        }

        .ui.table.heading thead th {
            background: #aeaeae !important;
        }

        .this-page {
            page-break-after: always;
        }

        .footer > div {
            position: fixed;
            bottom: 0;
        }

        .test-method {
            font-size: x-small !important;
        }

        .small-font {
            font-size: small !important;
        }

        tr.highlight th {
            padding-top: 20px !important;
        }
    </style>
</head>
<body>


<div class="this-page" style="overflow: hidden; white-space: nowrap">
    <div class="ui container">
        <img src="https://i.postimg.cc/KRC0X4CC/signature.png" height="1px" style="display: none">
        <div id="pageHeader">
            <div class="ui segments" style="overflow: hidden; white-space: nowrap">
                <div class="ui horizontal segments">
                    <div class="ui segment" style="border: none !important">
                        <br>
                        <img class="ui medium left aligned image"
                             src="https://meharhospital.com/wp-content/uploads/2020/01/Logo_Large_1119_319_100.png">
                    </div>
                    <div class="ui segment" style="border: none !important">
                        <br>
                        <img class="ui tiny centered image"
                             src="https://i.postimg.cc/MnV2NC3b/nabh-logo.png">
                    </div>
                    <div class="ui right aligned segment" style="border: none !important">
                        <h4>MEHAR SUPER SPECIALITY HOSPITAL</h4>
                        <p class="small-font">
                            Opposite Grandeur Marriage Palace<br/>
                            Singhpura Road, Zirakpur, Mohali<br/>
                            Phone: +91 7527070509, 7527070510<br/>
                            E-mail: info@meharhospital.com<br/></p>
                    </div>
                </div>
                <div class="ui segment" style="overflow: hidden; white-space: nowrap">
                    <div class="ui very relaxed grid">
                        <div class="seven wide column">
                            <table class="ui very basic table">
                                <tbody>
                                <tr>
                                    <th>Patient Name:</th>
                                    <td>{{patient_name}}</td>
                                </tr>
                                <tr>
                                    <th>UHID No.:</th>
                                    <td>{{uhid}}</td>
                                </tr>
                                <tr>
                                    <th>Address:</th>
                                    <td>Ward No.3 Vill Post Mohanpura Katra</td>
                                </tr>
                                <tr>
                                    <th>Doctor:</th>
                                    <td>{{consultant}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="two wide column"></div>
                        <div class="seven wide column">
                            <table class="ui very basic table">
                                <tbody>
                                <tr>
                                    <th>Mobile No:</th>
                                    <td>987654567</td>
                                </tr>
                                <tr>
                                    <th>Age:</th>
                                    <td>{{Age}}</td>
                                </tr>
                                <tr>
                                    <th>Sampling Date:</th>
                                    <td>{{testDate}}</td>
                                </tr>
                                <tr>
                                    <th>Print Date:</th>
                                    <td>{{printDate}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ui segment" style="padding: 0">
                    <table class="ui very basic table heading">
                        <thead>
                        <tr class="highlight left aligned">
                            <th class="six wide">Investigation</th>
                            <th class="three wide">Observations</th>
                            <th class="four wide">Biological Reference Interval</th>
                            <th class="three wide">Units</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <table class="ui compact table testResult" style="border: none !important; margin-top: 0em;">
            <thead>
            <tr>
                <td class="six wide"></th>
                <td class="three wide"></th>
                <td class="four wide"></th>
                <td class="three wide"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="highlight">
                <th class="six wide"><u>COMPLETE HAEMOGRAM CBC CGHS 1394</u></th>
            </tr>
            <tr>
                <td class="firstColumn">HAEMOGLOBIN
                    (HB)<br/><i class="test-method">Method: SPECTROPHTOMETER/AUTOMATED CELL COUNTER</i></td>
                <td class="secondColumn">{{hb}}</td>
                <td class="thirdColumn">13.0 - 18.0</td>
                <td>gm/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">TOTAL LEUCOCYTE COUNT (TLC)<br/><i class="test-method">Method:
                        Impedance/Automated Cell counter</i>
                </td>
                <td class="secondColumn">{{tlc}}</td>
                <td class="thirdColumn">4000-11000</td>
                <td>/cmm</td>
            </tr>

            <tr>
                <td class="firstColumn">DLC<br/><i class="test-method">Method : Uricase-POD</i></td>
                <td class="secondColumn">{{dlc}}</td>
                <td class="thirdColumn">13.5-18 ( F-11.5-15)</td>
                <td>mg/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">NEUTROPHILS</td>
                <td class="secondColumn">{{neutrophils}}</td>
                <td class="thirdColumn">45-75</td>
                <td>%</td>
            </tr>

            <tr>
                <td class="firstColumn">LYMPHOCYTE</td>
                <td class="secondColumn">{{lymphocytes}}</td>
                <td class="thirdColumn">20-45</td>
                <td>%</td>
            </tr>

            <tr>
                <td class="firstColumn">MONOCYTE</td>
                <td class="secondColumn">{{monocyte}}</td>
                <td class="thirdColumn">0-10</td>
                <td>%</td>
            </tr>

            <tr>
                <td class="firstColumn">EOSINOPHIL</td>
                <td class="secondColumn">{{eosinophils}}</td>
                <td>0-6</td>
                <td>%</td>
            </tr>

            <tr>
                <td class="firstColumn">BASOPHILS<br/><i class="test-method">Method : Uricase-POD</i></td>
                <td class="secondColumn">{{basophils}}</td>
                <td>0-1</td>
                <td>%</td>
            </tr>

            <tr>
                <td class="firstColumn">RBC (RED BLOOD CELLS)<br/><i class="test-method">Method: Calculation /Automated
                        Cell counter</i>
                </td>
                <td class="secondColumn">{{rbc}}</td>
                <td>3.8 - 5.8</td>
                <td>Million/cmm</td>
            </tr>

            <tr>
                <td class="firstColumn">PCV<br/><i class="test-method">Method: Impedance/Automated Cell counter</i></td>
                <td class="secondColumn">{{pcv}}</td>
                <td>35-47</td>
                <td>%</td>
            </tr>

            <tr>
                <td class="firstColumn">MCV (MEAN CELL VOLUME)<br/><i class="test-method">Method: Impedance/Automated
                        Cell counter</i></td>
                <td class="secondColumn">{{mcv}}</td>
                <td>80-100</td>
                <td>fL</td>
            </tr>

            <tr>
                <td class="firstColumn">MCH (MEAN CELL HAEMOGLOBIN)<br/><i class="test-method">>Method:
                        Impedance/Automated Cell counter</i>
                </td>
                <td class="secondColumn">{{mch}}</td>
                <td>27-31</td>
                <td>picogram</td>
            </tr>

            <tr>
                <td class="firstColumn">MCHC<br/><i class="test-method">Method: Calculation /Automated Cell counter</i>
                </td>
                <td class="secondColumn">{{mchc}}</td>
                <td>33-37</td>
                <td>g/dL</td>
            </tr>

            <tr>
                <td class="firstColumn">RDW-CV<br/><i class="test-method">Method: SPECTROPHTOMETER/AUTOMATED CELL
                        COUNTER</i></td>
                <td class="secondColumn">{{rdwcv}}</td>
                <td>10.0 - 15.0</td>
                <td>%</td>
            </tr>

            <tr>
                <td class="firstColumn">RDW-SD<br/><i class="test-method">Method: SPECTROPHTOMETER/AUTOMATED CELL
                        COUNTER</i></td>
                <td class="secondColumn">{{rdwsd}}</td>
                <td>35.0 - 60.0</td>
                <td>fL</td>
            </tr>

            <tr>
                <td class="firstColumn">PLATELET COUNT<br/><i class="test-method">Method: Impedance/Automated Cell
                        counter</i></td>
                <td class="secondColumn">{{platelet}}</td>
                <td>1.5 - 4.5</td>
                <td>L/cmm</td>
            </tr>

            <tr class="highlight">
                <th><u>ESR CGHS 1392</u></th>
            </tr>
            <tr>
                <td class="firstColumn">ERYTHROCYTE SEDIMENTATION RATE</td>
                <td class="secondColumn">{{esr}}</td>
                <td>0-20</td>
                <td>mm</td>
            </tr>

            <tr class="highlight">
                <th><u>C REACTIVE PROTEIN (CRP) QUANTITATIVE</u></th>
            </tr>
            <tr>
                <td class="firstColumn">C REACTIVE PROTEIN (CRP) QUANTITATIVE</td>
                <td class="secondColumn">{{crp}}</td>
                <td>0-6</td>
                <td>mg/l</td>
            </tr>

            <tr class="highlight">
                <th><u>KIDNEY FUNCTION TEST (KFT) CGHS 1512</u></th>
            </tr>
            <tr>
                <td class="firstColumn">BLOOD UREA<br/><i class="test-method">Method: Urease - GLDH</i></td>
                <td class="secondColumn">{{burea}}</td>
                <td>18-55</td>
                <td>mg/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">SERUM CREATININE<br/><i class="test-method">Method : Enzymatic</i></td>
                <td class="secondColumn">{{creatinine}}</td>
                <td>0.7 - 1.3</td>
                <td>mg/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">SERUM URIC ACID<br/><i class="test-method">Method : Uricase-POD</i></td>
                <td class="secondColumn">{{uric}}</td>
                <td>3.5 - 7.2</td>
                <td> mg/dl</td>
            </tr>

            <tr class="highlight">
                <th><u>SERUM SODIUM CGHS 1481</u></th>
            </tr>
            <tr>
                <td class="firstColumn">SODIUM<br/><i class="test-method">Method: Uricase - Ion Selective Electrode</i>
                </td>
                <td class="secondColumn">{{sodium}}</td>
                <td>136 - 155</td>
                <td>mmol/l</td>
            </tr>

            <tr class="highlight">
                <th><u>SERUM POTASSIUM CGHS 1482</u></th>
            </tr>
            <tr>
                <td class="firstColumn">POTASSIUM<br/><i class="test-method">Method: Uricase - Ion Selective
                        Electrode</i></td>
                <td class="secondColumn">{{potassium}}</td>
                <td>3.5 - 5.5</td>
                <td>mmol/l</td>
            </tr>

            <tr class="highlight">
                <th><u>SERUM CHLORIDE CGHS 1531</u></th>
            </tr>
            <tr>
                <td class="firstColumn">CHLORIDE<br/><i class="test-method">Method: Uricase - Ion Selective
                        Electrode</i></td>
                <td class="secondColumn">{{chloride}}</td>
                <td>96 - 107</td>
                <td>mmol/l</td>
            </tr>

            <tr class="highlight">
                <th><u>LIVER FUNCTION TEST LFT CGHS 1513</u></th>
            </tr>
            <tr>
                <td class="firstColumn">TOTAL BILIRUBIN<br/><i class="test-method">Method: Diazo</i></td>
                <td class="secondColumn">{{bilirubin}}</td>
                <td>0.2 - 1.2</td>
                <td>mg/l</td>
            </tr>


            <tr>
                <td class="firstColumn">CONJUGATED (D. BILIRUBIN)<br/><i class="test-method">Method: Diazo</i></td>
                <td class="secondColumn">{{cbilirubin}}</td>
                <td>0.1 -0.41</td>
                <td>mg/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">UNCOUNJUGATED (I D BILIRUBIN)<br/><i class="test-method">Method: Calculated</i>
                </td>
                <td class="secondColumn">{{ucbilirubin}}</td>
                <td>0.2 - 1</td>
                <td>mg/dl</td>
            </tr>


            <tr class="highlight">
                <th><u>SGOT / AST CGHS 1476</u></th>
            </tr>
            <tr>
                <td class="firstColumn">AST/SGOT<br/><i class="test-method">Method: IFCC</i></td>
                <td class="secondColumn">{{sgot}}</td>
                <td>0-35</td>
                <td>iu/l</td>
            </tr>

            <tr class="highlight">
                <th><u>SGPT / ALT CGHS 1475</u></th>
            </tr>
            <tr>
                <td class="firstColumn">ALT/SGPT<br/><i class="test-method">Method: IFCC</i></td>
                <td class="secondColumn">{{sgpt}}</td>
                <td>0-45</td>
                <td>iu/l</td>
            </tr>


            <tr>
                <td class="firstColumn">ALKALINE PHOSPHATASE (ALP)<br/><i class="test-method">Method: ALP-AMP</i></td>
                <td class="secondColumn">{{alkphosphatase}}</td>
                <td>53 - 128</td>
                <td>iu/l</td>
            </tr>

            <tr>
                <td class="firstColumn">TOTAL PROTEIN<br/><i class="test-method">Method: Biuret</i></td>
                <td class="secondColumn">{{tprotein}}</td>
                <td>6.4 - 8.3</td>
                <td>g/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">SERUM ALBUMIN<br/><i class="test-method">Method: Calculated</i></td>
                <td class="secondColumn">{{serumalbumin}}</td>
                <td>3.5 - 5.2</td>
                <td>g/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">GLOBIN<br/><i class="test-method">Method: Calculated</i></td>
                <td class="secondColumn">{{globin}}</td>
                <td>1.5 - 3</td>
                <td>g/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">A/G RATIO<br/><i class="test-method">Method: Calculated</i></td>
                <td class="secondColumn">{{agratio}}</td>
                <td>1.5 - 3</td>
                <td>g/dl</td>
            </tr>

            <tr>
                <td class="firstColumn">GGT<br/><i class="test-method">Method: Gulpa C</i></td>
                <td class="secondColumn">{{ggt}}</td>
                <td>0-38</td>
                <td>u/l</td>
            </tr>


            <tr class="highlight">
                <th><u>SERUM AMYLASE CGHS 1477</u></th>
            </tr>
            <tr>
                <td class="firstColumn">S AMYLASE</td>
                <td class="secondColumn">{{serumamylase}}</td>
                <td>0-90</td>
                <td>u/l</td>
            </tr>

            <tr class="highlight">
                <th><u>SERUM LIPASE CGHS 1478</u></th>
            </tr>
            <tr>
                <td class="firstColumn">S LIPASE</td>
                <td class="secondColumn">{{serumlipase}}</td>
                <td>0-60</td>
                <td>u/l</td>
            </tr>

            <tr class="highlight">
                <th><u>COAGULATION PROFILE CGHS 1733</u></th>
            </tr>
            <tr>
                <td class="firstColumn">PT PATIENT</td>
                <td class="secondColumn">{{ptpatient}}</td>
                <td>11.00 - 16.00</td>
                <td>u/l</td>
            </tr>
            <tr>
                <td class="firstColumn">PT CONTROL</td>
                <td class="secondColumn">{{ptcontrol}}</td>
                <td></td>
                <td>u/l</td>
            </tr>
            <tr>
                <td class="firstColumn">INDEX</td>
                <td class="secondColumn">{{index}}</td>
                <td></td>
                <td>u/l</td>
            </tr>
            <tr>
                <td class="firstColumn">ISI Value of Reagent</td>
                <td class="secondColumn">{{isireagent}}</td>
                <td></td>
                <td>u/l</td>
            </tr>
            <tr>
                <td class="firstColumn">INR (International Normalized Ratio)</td>
                <td class="secondColumn">{{inr}}</td>
                <td>0.8 - 1.2</td>
                <td>u/l</td>
            </tr>
            <tr>
                <td class="firstColumn">PTTK</td>
                <td class="secondColumn">{{pttk}}</td>
                <td>22 - 40</td>
                <td>u/l</td>
            </tr>


            <tr class="highlight">
                <th><u>HIV 1 & 2 CGHS 1426</u></th>
            </tr>
            <tr>
                <td class="firstColumn">HIV (AIDS) ANTIBODY I & II</td>
                <td class="secondColumn">{{hiv}}</td>
                <td>Non-reactive</td>
                <td>Non-reactive</td>
            </tr>

            <tr class="highlight">
                <th><u>HBS AG CHGS 1424</u></th>
            </tr>
            <tr>
                <td class="firstColumn">HEPATITIS B SURFACE ANTIGEN</td>
                <td class="secondColumn">{{hepatitis}}</td>
                <td>Non-reactive</td>
                <td>Non-reactive</td>
            </tr>

            <tr class="highlight">
                <th><u>HCV CGHS 1425</u></th>
            </tr>
            <tr>
                <td class="firstColumn">HCV ANTIBODY TEST</td>
                <td class="secondColumn">{{hcv}}</td>
                <td>Non-reactive</td>
                <td>Non-reactive</td>
            </tr>

            <tr class="highlight">
                <th><u>VDRL CGHS 1427</u></th>
            </tr>
            <tr>
                <td class="firstColumn">VDRL CARD</td>
                <td class="secondColumn">{{vdrl}}</td>
                <td>Non-reactive</td>
                <td>Non-reactive</td>
            </tr>

            <tr class="highlight">
                <th><u>URINE ROUTINE CGHS 1383</u></th>
            </tr>
            <tr>
                <td class="firstColumn">QUANTITY</td>
                <td class="secondColumn">{{quantity}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">COLOUR</td>
                <td class="secondColumn">{{color}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">TRANSPARENCY</td>
                <td class="secondColumn">{{transparency}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">SPECIFIC GRAVITY</td>
                <td class="secondColumn">{{gravity}}</td>
                <td>1.005 - 1.030</td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">REACTION</td>
                <td class="secondColumn">{{reaction}}</td>
                <td>ACIDIC</td>
                <td>ACIDIC - ALKALINE</td>
            </tr>
            <tr>
                <td class="firstColumn">PH</td>
                <td class="secondColumn">{{ph}}</td>
                <td>4.8 - 7.4</td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">ALBUMIN</td>
                <td class="secondColumn">{{albumin}}</td>
                <td>3.50 - 5.20</td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">SUGAR</td>
                <td class="secondColumn">{{usugar}}</td>
                <td>NIL</td>
                <td>NIL</td>
            </tr>
            <tr>
                <td class="firstColumn">BLOOD</td>
                <td class="secondColumn">{{ublood}}</td>
                <td>NIL</td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">URINE BILIRUBIN</td>
                <td class="secondColumn">{{ubilirubin}}</td>
                <td>NIL</td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">UROBILINOGEN</td>
                <td class="secondColumn">{{urobilinogen}}</td>
                <td>NIL</td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">URINE FOR KETONE BODIES/ACETONE</td>
                <td class="secondColumn">{{uacetone}}</td>
                <td>NIL</td>
                <td>mg/dL</td>
            </tr>
            <tr>
                <td class="firstColumn">EPITHELIAL CELLS</td>
                <td class="secondColumn">{{epithelial}}</td>
                <td>/HPF</td>
                <td>/HPF</td>
            </tr>
            <tr>
                <td class="firstColumn">PUS CELLS</td>
                <td class="secondColumn">{{pus}}</td>
                <td>1-2</td>
                <td>/HPF</td>
            </tr>
            <tr>
                <td class="firstColumn">RBC</td>
                <td class="secondColumn">{{urbc}}</td>
                <td>/HPF</td>
                <td>/HPF</td>
            </tr>
            <tr>
                <td class="firstColumn">CRYSTALS</td>
                <td class="secondColumn">{{crystals}}</td>
                <td>NIL</td>
                <td>NIL</td>
            </tr>
            <tr>
                <td class="firstColumn">CASTS</td>
                <td class="secondColumn">{{casts}}</td>
                <td>NIL</td>
                <td>NIL</td>
            </tr>
            <tr>
                <td class="firstColumn">BACTERIA</td>
                <td class="secondColumn">{{bacteria}}</td>
                <td>NIL</td>
                <td></td>
            </tr>
            <tr>
                <td class="firstColumn">OTHER</td>
                <td class="secondColumn">{{uother}}</td>
                <td>NIL</td>
                <td>dl</td>
            </tr>

            <tr class="highlight">
                <th><u>BLOOD SUGAR</u></th>
            </tr>
            <tr>
                <td class="firstColumn">FBS</td>
                <td class="secondColumn">{{bsugar}}</td>
                <td>70-110</td>
                <td>mg/dl</td>
            </tr>

            <tr class="highlight">
                <th><u>BLOOD GLUCOSE RANDOM CGHS 1444</u></th>
            </tr>
            <tr>
                <td class="firstColumn">BLOOD GLUCOSE - RANDOM</td>
                <td class="secondColumn">{{bglucose}}</td>
                <td>70-140</td>
                <td>mg/dl</td>
            </tr>
            <tr>
                <td class="firstColumn">PP</td>
                <td class="secondColumn">{{pp}}</td>
                <td>100-140</td>
                <td>mg/dl</td>
            </tr>

            <tr class="highlight">
                <th><u>PCT</u></th>
            </tr>
            <tr>
                <td class="firstColumn">PCT</td>
                <td class="secondColumn">{{pct}}</td>
                <td>0 - 0.05</td>
                <td>ng/ml</td>
            </tr>

            <tr class="highlight">
                <th><u>D-DIMER CGHS 1409</u></th>
            </tr>
            <tr>
                <td class="firstColumn">D DIMER</td>
                <td class="secondColumn">{{dimer}}</td>
                <td>0-500</td>
                <td>ng/ml</td>
            </tr>

            <tr class="highlight">
                <th><u>SERUM FERRITIN CGHS 1517</u></th>
            </tr>
            <tr>
                <td class="firstColumn">SERUM FERRITIN CGHS 1517</td>
                <td class="secondColumn">{{serumferritin}}</td>
                <td></td>
                <td></td>
            </tr>

            <tr class="highlight">
                <th><u>MALARIA CARD TEST CGHS 1407</u></th>
            </tr>
            <tr>
                <td class="firstColumn">MALARIA ANTIGEN</td>
                <td class="secondColumn">{{malaria}}</td>
                <td>Non-reactive</td>
                <td>Negative</td>
            </tr>

            <tr class="highlight">
                <th><u>DENGUE SEROLOGY CGHS 1824</u></th>
            </tr>
            <tr>
                <td class="firstColumn">DENGUE NSI ANTIGEN</td>
                <td class="secondColumn">{{dengue}}</td>
                <td>Non-reactive</td>
                <td>Negative</td>
            </tr>
            <tr>
                <td class="firstColumn">DENGUE IgG</td>
                <td class="secondColumn">{{dengueigg}}</td>
                <td>Non-reactive</td>
                <td>Negative</td>
            </tr>
            <tr>
                <td class="firstColumn">DENGUE IgM</td>
                <td class="secondColumn">{{dengueigm}}</td>
                <td>Non-reactive</td>
                <td>Negative</td>
            </tr>

            <tr class="highlight">
                <th><u>WIDAL TEST CGHS 1823</u></th>
            </tr>
            <tr>
                <td class="firstColumn">WIDAL TEST (SLIDE METHOD)</td>
                <td class="secondColumn">{{widal}}</td>
                <td>Non-reactive</td>
                <td>Negative</td>
            </tr>
            </tbody>
        </table>
        <!--        <div id="pageFooter">-->
        <!--            <div class="ui horizontal segments" style="overflow: hidden; white-space: nowrap; border: none">-->
        <!--                <div class="left aligned ui segment" style="margin-top: 40px">-->
        <!--                    <h3>TECHNOLOGIST</h3>-->
        <!--                </div>-->
        <!--                <div class="right aligned ui segment" style="border-left: 0">-->
        <!--                    <img src="https://i.postimg.cc/KRC0X4CC/signature.png" width="100px">-->
        <!--                    <p><b>Dr. Shweta</b><br/>-->
        <!--                        MBBS, MD(PATHOLOGY)<br/>-->
        <!--                        (EX. PGIMER, CHD.)-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="center aligned ui segment">-->
        <!--                &lt;!&ndash;<p><b>End of Report</b>&ndash;&gt;-->
        <!--                <p><b>{{page}}/{{pages}}</b>-->
        <!--                </p>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
</body>
</html>
