<html lang="en">
<head>
    <title>MEHAR SUPER SPECIALITY HOSPITAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

    <style>
        @page {
            size: A4 !important;
            margin: 0;
        }

        .ui.table tr td {
            border-top: 0 !important;
        }

        .ui.table thead th {
            background: #aeaeae !important;
        }

        .this-page {
            page-break-after: always;
        }

        .footer > div {
            position: fixed;
            bottom: 0;
        }

        .test-method {
            font-size: x-small !important;
        }

        .small-font {
            font-size: small !important;
        }

        tr.highlight th {
            padding-top: 20px !important;
        }
    </style>
</head>
<body>


<div class="this-page" style="overflow: hidden; white-space: nowrap">
    <div class="ui container">
        <div id="pageHeader">
            <div class="ui segments" style="overflow: hidden; white-space: nowrap">
                <div class="ui horizontal segments">
                    <div class="ui segment" style="border: none !important">
                        <br>
                        <img class="ui medium left aligned image"
                             src="https://meharhospital.com/wp-content/uploads/2020/01/Logo_Large_1119_319_100.png">
                    </div>
                    <div class="ui segment" style="border: none !important">
                        <br>
                        <img class="ui tiny centered image"
                             src="https://www.clipartmax.com/png/middle/247-2478763_nabh-accreditation-logo.png">
                    </div>
                    <div class="ui right aligned segment" style="border: none !important">
                        <h4>MEHAR SUPER SPECIALITY HOSPITAL</h4>
                        <p class="small-font">
                            Opposite Grandeur Marriage Palace<br/>
                            Singhpura Road, Zirakpur, Mohali<br/>
                            Phone: +91 7527070509, 7527070510<br/>
                            E-mail: info@meharhospital.com<br/></p>
                    </div>
                </div>
                <div class="ui segment" style="overflow: hidden; white-space: nowrap">
                    <div class="ui very relaxed grid">
                        <div class="seven wide column">
                            <table class="ui very basic table">
                                <tbody>
                                <tr>
                                    <th>Patient Name</th>
                                    <td>Rashi Garg</td>
                                </tr>
                                <tr>
                                    <th>UHID No.</th>
                                    <td>17984</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>Ward No.3 Vill Post Mohanpura Katra</td>
                                </tr>
                                <tr>
                                    <th>Doctor</th>
                                    <td>DR. HARDEEP SINGH</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="two wide column"></div>
                        <div class="seven wide column">
                            <table class="ui very basic table">
                                <tbody>
                                <tr>
                                    <th>Mobile No</th>
                                    <td>987654567</td>
                                </tr>
                                <tr>
                                    <th>ID No, Age</th>
                                    <td>3074, 34 Yr Female</td>
                                </tr>
                                <tr>
                                    <th>Sampling Date</th>
                                    <td>28-09-2022 00:08:00</td>
                                </tr>
                                <tr>
                                    <th>Print Date</th>
                                    <td>28-09-2022 07:27 PM</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ui segment" style="padding: 0">
                    <table class="ui very basic table">
                        <thead>
                        <tr class="highlight center aligned">
                            <th class="six wide">Investigation</th>
                            <th class="three wide">Observations</th>
                            <th class="four wide">Biological Reference Interval</th>
                            <th class="three wide">Units</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <table class="ui compact table">
            <tr class="highlight">
                <th><u>KIDNEY FUNCTION TEST (KFT) CGHS 1512</u></th>
            </tr>
            <tr>
                <td>BLOOD UREA<br/><i class="test-method">Method : Urease-GLDH</i></td>
                <td></td>
                <td>13.5-18 ( F-11.5-15)</td>
                <td> mg/dl</td>
            </tr>

            <tr>
                <td>SERUM CREATININE<br/><i class="test-method">Method : Enzymatic</i></td>
                <td></td>
                <td>13.5-18 ( F-11.5-15)</td>
                <td> mg/dl</td>
            </tr>

            <tr>
                <td>SERUM URIC ACID<br/><i class="test-method">Method : Uricase-POD</i></td>
                <td></td>
                <td>13.5-18 ( F-11.5-15)</td>
                <td> mg/dl</td>
            </tr>
        </table>
        <div id="pageFooter">
            <div class="ui grid">
                <div class="right aligned column">
                    <img src="img/signature.png" width="100">
                </div>
            </div>
            <div class="ui two column grid">
                <div class="row">
                    <div class="left aligned column">
                        <h3>TECHNOLOGIST</h3>
                    </div>
                    <div class="right aligned column">
                        <p><b>Dr. Shweta</b><br/>
                            MBBS, MD(PATHOLOGY)<br/>
                            (EX. PGIMER, CHD.)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
