<html lang="en">
<head>
    <title>MEHAR SUPER SPECIALITY HOSPITAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

    <style>

        html {
            zoom: 1;
        }

        @page {
            size: A4 !important;
        }

        .ui.table tr td {
            border-top: 0 !important;
        }

        .ui.table.heading thead td {
            font-weight: 900;
            font-size: 8px;
        }

        .this-page {
            page-break-after: always;
        }

        .footer > div {
            position: fixed;
            bottom: 0;
        }

        .first-column > .test-method {
            font-size: 8px;
            font-family: Arial, serif;
        }

        .small-font {
            font-size: small !important;
        }

        tr.test-category th {
            padding-top: 5px !important;
        }

        table, tbody, tr, td {
            break-inside: avoid;
        }

        .first-column {
            font-family: Times, serif;
            font-size: 9px;
        }

        h3 {
            font: 900 15px/20px serif Times;
        }

        .second-column {
            font-family: Arial, serif;
            font-size: 10px;
        }

        .third-column {
            font-size: 9px;
            font-family: Tahoma, serif;
        }

        .fourth-column {
            font-style: italic;
            font-size: 11px;
            font-family: Arial, serif;
        }

        .tahoma {
            font-family: Tahoma, serif;
        }

        .times-new-roman {
            font-family: Times, serif;
        }

        .arial {
            font-family: serif, Arial;
        }

        .bold {
            font-weight: 900 !important;
        }

        .font-7 {
            font-size: 7px;
        }

        .font-8 {
            font-size: 8px;
        }

        .font-9 {
            font-size:10px;
        }

        .font-10 {
            font-size: 11px;
        }

        .font-11 {
            font-size: 11px;
        }

        .font-12 {
            font-size: 12px;
        }

        .font-13 {
            font-size: 14px;
        }

        .font-20 {
            font-size: 20px;
        }

        tr.test-category:not(.report-heading) {
            font-size: 10px;
            font-family: Times, serif;
            font-weight: 900;
            text-decoration: underline;
        }

        .nabh-logo {
            width: 50px;
            height: auto;
        }

        .mehar-logo {
            width: 180px;
            height: auto;
        }

        .ui.heading.table td {
            padding: 5px;
        }

        .ui.segment.patient-details {
            padding: 5px 5px 5px 10px;
        }

        .ui.very.basic.table.heading {
            padding: 7px;
            background-color: #C8C8C8;
            border-radius: 0;
			font-family: Tahoma, serif;
        }

        .ui.patient-details .table td {
            padding-bottom: 0px;
        }

    </style>
</head>
<body>


<div class="this-page" style="overflow: hidden; white-space: nowrap;">
    <div class="ui container">
        <img src="https://i.postimg.cc/KRC0X4CC/signature.png" height="1px" style="display: none">
        <div id="pageHeader">
            <div class="ui segments" style="overflow: hidden; white-space: nowrap; border: none">
                <!--<div class="ui horizontal segments">
                    <div class="ui segment" style="border: none !important; padding: 0px;">

                        <img class="ui left aligned image mehar-logo"
                             src='https://i.postimg.cc/DJyvzMQc/Screenshot-2022-10-05-at-7-59-20-AM.png'
                             alt='Mehar hospital logo'>
                    </div>
                    <div class="ui segment" style="border: none !important;">

                        <img class="ui left aligned image nabh-logo"
                             src="https://i.postimg.cc/MnV2NC3b/nabh-logo.png">
                    </div>
                    <div class="ui left aligned segment" style="border: none !important; padding-bottom: 0px;">
                        <p style="font-weight: 900 !important;margin-bottom: 0;">
                            <span class="times-new-roman font-13">MEHAR SUPER SPECIALITY HOSPITAL</span>
                        </p>
                        <p class="times-new-roman font-9">
                            Opposite Grandeur Marriage Palace, Singhpura Road,<br/>
                            Zirakpur, Mohali Ph: +91 7527070509, 7527070510<br/>
                            E-mail: info@meharhospital.com, Website:- www.meharhospital.com<br/></p>
                    </div>
                </div> -->
				<div class="ui grid container">
                    <div class="six wide column" style="padding: 12px">
                        <img class="ui left aligned image mehar-logo"
                             src='https://i.postimg.cc/DJyvzMQc/Screenshot-2022-10-05-at-7-59-20-AM.png'
                             alt='Mehar hospital logo'>
                    </div>
                    <div class="three wide column" style="padding-top: 35px">
                        <img class="nabh-logo"
                             src="https://i.postimg.cc/MnV2NC3b/nabh-logo.png">
                    </div>
                    <div class="seven wide left aligned column" style="padding-top: 20px">
                        <p style="font-weight: 900 !important; letter-spacing: 0.5px; margin-bottom: auto">
                            <span class="times-new-roman font-13">MEHAR SUPER SPECIALITY HOSPITAL</span>
                        </p>
                        <p class="times-new-roman font-9">
                            Opposite Grandeur Marriage Palace, Singhpura Road,<br/>
                            Zirakpur, Mohali Ph: +91 7527070509, 7527070510<br/>
                            E-mail: info@meharhospital.com, Website:- www.meharhospital.com</p>
                    </div>
                </div>

                <div class="ui segment patient-details"
                     style="overflow: hidden; white-space: nowrap; border: 1px solid#5e5e5e; border-radius: 0;">
                    <table class="ui very basic table tahoma">
                        <tbody>
                        <tr>
                            <td class="three wide font-9">Patient Name</td>
                            <td class="one wide font-9">:</td>
                            <td class="four wide font-10">{{data.patient_name}}</td>
                            <td class="one wide"></td>
                            <td class="two wide font-9">Mobile No</td>
                            <td class="one wide font-9">:</td>
                            <td class="five wide font-10">{{data.phone}}</td>
                        </tr>
                        <tr>
                            <td class="three wide font-9">UHID No.</td>
                            <td class="one wide font-9">:</td>
                            <td class="four wide font-10">{{data.uhid}}</td>
                            <td class="one wide"></td>
                            <td class="two wide font-9">ID No , Age</td>
                            <td class="one wide font-9">:</td>
                            <td class="five wide font-10">{{data.ipd}} , {{data.Age}} {{data.ageUnit}} / {{data.gender}}</td>
                        </tr>
                        <tr>
                            <td class="three wide font-9">Address</td>
                            <td class="one wide font-9">:</td>
                            <td class="four wide font-10">{{data.address}}</td>
                            <td class="one wide"></td>
                            <td class="two wide font-9">Sampling Date</td>
                            <td class="one wide font-9">:</td>
                            <td class="five wide font-10">{{data.testDate}}&emsp;&emsp;&emsp;&emsp;{{data.testTime}}</td>
                        </tr>
                        <tr>
                            <td class="three wide font-9">Doctor</td>
                            <td class="one wide font-9">:</td>
                            <td class="four wide font-10">{{data.consultant}}</td>
                            <td class="one wide"></td>
                            <td class="two wide font-9">Print Date</td>
                            <td class="one wide font-9">:</td>
                            <td class="five wide font-10">{{data.printDate}}&emsp;&emsp;&emsp;&emsp;{{data.printTime}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="ui segment" style="padding: 0; margin-top: -10px">
                <table class="ui very basic table heading">
                    <thead>
                    <tr class="left aligned report-heading" style="padding-top: 20px">
                        <td class="six wide font-11" style="padding-top: 7px"><b>Investigation</b></td>
                        <td class="four wide font-11" style="padding-top: 7px"><b>Observations</b></td>
                        <td class="four wide font-11" style="padding-top: 7px"><b>Biological Reference Interval</b></td>
                        <td class="two wide font-11" style="padding-top: 7px"><b>Units</b></td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <table class="ui compact table testResult"
               style="border: none !important; margin-top: 0 !important">
            <tr>
                <td class="six wide"></td>
                <td class="four wide"></td>
                <td class="four wide"></td>
                <td class="two wide"></td>
            </tr>
            {{#ifCond blood "!=" null}}
            <tr class="test-category">
                <th class="six wide">COMPLETE HAEMOGRAM CBC CGHS 1394</th>
            </tr>
            {{#ifCond blood.hb "!=" null}}
            <tr>
                <td class="first-column">HAEMOGLOBIN (HB)<br/>
                    <i class="test-method">Method: SPECTROPHTOMETER/AUTOMATED CELL COUNTER</i></td>
                {{#ifCond blood.hb "<" 13}}
                <td class="second-column bold">{{blood.hb}}</td>
                {{else ifCond blood.hb ">" 18}}
                <td class="second-column bold">{{blood.hb}}</td>
                {{else}}
                <td class="second-column">{{blood.hb}}</td>
                {{/ifCond}}
                <td class="third-column">13.0 - 18.0</td>
                <td class="fourth-column">gm/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.tlc "!=" null}}
            <tr>
                <td class="first-column">TOTAL LEUCOCYTE COUNT (TLC)<br/><i class="test-method">Method:
                    Impedance/Automated Cell counter</i>
                </td>
                {{#ifCond blood.tlc "<" 4000}}
                <td class="second-column bold">{{blood.tlc}}</td>
                {{else ifCond blood.tlc ">" 11000}}
                <td class="second-column bold">{{blood.tlc}}</td>
                {{else}}
                <td class="second-column">{{blood.tlc}}</td>
                {{/ifCond}}
                <td class="third-column">4000-11000</td>
                <td class="fourth-column">/cmm</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.dlc "!=" null}}
            <tr>
                <td class="first-column">DLC<br/><i class="test-method">Method : Uricase-POD</i></td>
                <td class="second-column"></td>
                <td class="third-column"></td>
                <td class="fourth-column">mg/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.neutrophils "!=" null}}
            <tr>
                <td class="first-column">NEUTROPHILS</td>
                {{#ifCond blood.neutrophils "<" 45}}
                <td class="second-column bold">{{blood.neutrophils}}</td>
                {{else ifCond blood.neutrophils ">" 75}}
                <td class="second-column bold">{{blood.neutrophils}}</td>
                {{else}}
                <td class="second-column">{{blood.neutrophils}}</td>
                {{/ifCond}}
                <td class="third-column">45-75</td>
                <td class="fourth-column">%</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.lymphocytes "!=" null}}
            <tr>
                <td class="first-column">LYMPHOCYTE</td>
                {{#ifCond blood.lymphocytes "<" 20}}
                <td class="second-column bold">{{blood.lymphocytes}}</td>
                {{else ifCond blood.lymphocytes ">" 45}}
                <td class="second-column bold">{{blood.lymphocytes}}</td>
                {{else}}
                <td class="second-column">{{blood.lymphocytes}}</td>
                {{/ifCond}}
                <td class="third-column">20-45</td>
                <td class="fourth-column">%</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.monocyte "!=" null}}
            <tr>
                <td class="first-column">MONOCYTE</td>
                {{#ifCond blood.monocyte "<" 0}}
                <td class="second-column bold">{{blood.monocyte}}</td>
                {{else ifCond blood.monocyte ">" 10}}
                <td class="second-column bold">{{blood.monocyte}}</td>
                {{else}}
                <td class="second-column">{{blood.monocyte}}</td>
                {{/ifCond}}
                <td class="third-column">0-10</td>
                <td class="fourth-column">%</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.eosinophils "!=" null}}
            <tr>
                <td class="first-column">EOSINOPHIL</td>
                {{#ifCond blood.eosinophils "<" 0}}
                <td class="second-column bold">{{blood.eosinophils}}</td>
                {{else ifCond blood.eosinophils ">" 6}}
                <td class="second-column bold">{{blood.eosinophils}}</td>
                {{else}}
                <td class="second-column">{{blood.eosinophils}}</td>
                {{/ifCond}}
                <td class="third-column">0-6</td>
                <td class="fourth-column">%</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.basophils "!=" null}}
            <tr>
                <td class="first-column">BASOPHILS<br/><i class="test-method">Method : Uricase-POD</i></td>
                {{#ifCond blood.basophils "<" 0}}
                <td class="second-column bold">{{blood.basophils}}</td>
                {{else ifCond blood.basophils ">" 1}}
                <td class="second-column bold">{{blood.basophils}}</td>
                {{else}}
                <td class="second-column">{{blood.basophils}}</td>
                {{/ifCond}}
                <td class="third-column">0-1</td>
                <td class="fourth-column">%</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.rbc "!=" null}}
            <tr>
                <td class="first-column">RBC (RED BLOOD CELLS)<br/><i class="test-method">Method: Calculation /Automated
                    Cell counter</i>
                </td>
                {{#ifCond blood.rbc "<" 3.8}}
                <td class="second-column bold">{{blood.rbc}}</td>
                {{else ifCond blood.rbc ">" 5.8}}
                <td class="second-column bold">{{blood.rbc}}</td>
                {{else}}
                <td class="second-column">{{blood.rbc}}</td>
                {{/ifCond}}
                <td class="third-column">3.8 - 5.8</td>
                <td class="fourth-column">Million/cmm</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.pcv "!=" null}}
            <tr>
                <td class="first-column">PCV<br/><i class="test-method">Method: Impedance/Automated Cell counter</i>
                </td>
                {{#ifCond blood.pcv "<" 35}}
                <td class="second-column bold">{{blood.pcv}}</td>
                {{else ifCond blood.pcv ">" 47}}
                <td class="second-column bold">{{blood.pcv}}</td>
                {{else}}
                <td class="second-column">{{blood.pcv}}</td>
                {{/ifCond}}
                <td class="third-column">35-47</td>
                <td class="fourth-column">%</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.mcv "!=" null}}
            <tr>
                <td class="first-column">MCV (MEAN CELL VOLUME)<br/><i class="test-method">Method: Impedance/Automated
                    Cell counter</i></td>
                {{#ifCond blood.mcv "<" 80}}
                <td class="second-column bold">{{blood.mcv}}</td>
                {{else ifCond blood.mcv ">" 100}}
                <td class="second-column bold">{{blood.mcv}}</td>
                {{else}}
                <td class="second-column">{{blood.mcv}}</td>
                {{/ifCond}}
                <td class="third-column">80-100</td>
                <td class="fourth-column">fL</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.mch "!=" null}}
            <tr>
                <td class="first-column">MCH (MEAN CELL HAEMOGLOBIN)<br/><i class="test-method">Method:
                    Impedance/Automated Cell counter</i>
                </td>
                {{#ifCond blood.mch "<" 27}}
                <td class="second-column bold">{{blood.mch}}</td>
                {{else ifCond blood.mch ">" 31}}
                <td class="second-column bold">{{blood.mch}}</td>
                {{else}}
                <td class="second-column">{{blood.mch}}</td>
                {{/ifCond}}
                <td class="third-column">27-31</td>
                <td class="fourth-column">picogram</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.mchc "!=" null}}
            <tr>
                <td class="first-column">MCHC<br/><i class="test-method">Method: Calculation /Automated Cell counter</i>
                </td>
                {{#ifCond blood.mchc "<" 33}}
                <td class="second-column bold">{{blood.mchc}}</td>
                {{else ifCond blood.mchc ">" 37}}
                <td class="second-column bold">{{blood.mchc}}</td>
                {{else}}
                <td class="second-column">{{blood.mchc}}</td>
                {{/ifCond}}
                <td class="third-column">33-37</td>
                <td class="fourth-column">g/dL</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.rdwcv "!=" null}}
            <tr>
                <td class="first-column">RDW-CV<br/><i class="test-method">Method: SPECTROPHTOMETER/AUTOMATED CELL
                    COUNTER</i></td>
                {{#ifCond blood.rdwcv "<" 10}}
                <td class="second-column bold">{{blood.rdwcv}}</td>
                {{else ifCond blood.rdwcv ">" 15}}
                <td class="second-column bold">{{blood.rdwcv}}</td>
                {{else}}
                <td class="second-column">{{blood.rdwcv}}</td>
                {{/ifCond}}
                <td class="third-column">10.0 - 15.0</td>
                <td class="fourth-column">%</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.rdwsd "!=" null}}
            <tr>
                <td class="first-column">RDW-SD<br/><i class="test-method">Method: SPECTROPHTOMETER/AUTOMATED CELL
                    COUNTER</i></td>
                {{#ifCond blood.rdwsd "<" 35}}
                <td class="second-column bold">{{blood.rdwsd}}</td>
                {{else ifCond blood.rdwsd ">" 60}}
                <td class="second-column bold">{{blood.rdwsd}}</td>
                {{else}}
                <td class="second-column">{{blood.rdwsd}}</td>
                {{/ifCond}}
                <td class="third-column">35.0 - 60.0</td>
                <td class="fourth-column">fL</td>
            </tr>
            {{/ifCond}}

            {{#ifCond blood.platelet "!=" null}}
            <tr>
                <td class="first-column">PLATELET COUNT<br/><i class="test-method">Method: Impedance/Automated Cell
                    counter</i></td>
                {{#ifCond blood.platelet "<" 1.5}}    
                <td class="second-column bold">{{blood.platelet}}</td>
                {{else ifCond blood.platelet ">" 4.5}}
                <td class="second-column bold">{{blood.platelet}}</td>
                {{else}}
                <td class="second-column">{{blood.platelet}}</td>
                {{/ifCond}}
                <td class="third-column">1.5 - 4.5</td>
                <td class="fourth-column">L/cmm</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond esr "!=" null}}
            <tr class="test-category">
                <th><u>ESR CGHS 1392</u></th>
            </tr>
            <tr>
                <td class="first-column">ERYTHROCYTE SEDIMENTATION RATE</td>
                {{#ifCond esr.esr "<" 0}}
                <td class="second-column bold">{{esr.esr}}</td>
                {{else ifCond esr.esr ">" 20}}
                <td class="second-column bold">{{esr.esr}}</td>
                {{else}}
                <td class="second-column">{{esr.esr}}</td>
                {{/ifCond}}
                <td class="third-column">0-20</td>
                <td class="fourth-column">mm</td>
            </tr>
            {{/ifCond}}

            {{#ifCond protein "!=" null}}
            <tr class="test-category">
                <th><u>C REACTIVE PROTEIN (CRP) QUANTITATIVE</u></th>
            </tr>
            <tr>
                <td class="first-column">C REACTIVE PROTEIN (CRP) QUANTITATIVE</td>
                {{#ifCond protein.crp "<" 0}}
                <td class="second-column bold">{{protein.crp}}</td>
                {{else ifCond protein.crp ">" 6}}
                <td class="second-column bold">{{protein.crp}}</td>
                {{else}}
                <td class="second-column">{{protein.crp}}</td>
                {{/ifCond}}
                <td class="third-column">0-6</td>
                <td class="fourth-column">mg/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond kidney "!=" null}}
            <tr class="test-category">
                <td>KIDNEY FUNCTION TEST (KFT) CGHS 1512</td>
            </tr>
            {{#ifCond kidney.burea "!=" null}}
            <tr>
                <td class="first-column">BLOOD UREA<br/><i class="test-method">Method: Urease - GLDH</i></td>
                {{#ifCond kidney.burea "<" 18}}
                <td class="second-column bold">{{kidney.burea}}</td>
                {{else ifCond kidney.burea ">" 55}}
                <td class="second-column bold">{{kidney.burea}}</td>
                {{else}}
                <td class="second-column">{{kidney.burea}}</td>
                {{/ifCond}}
                <td class="third-column">18-55</td>
                <td class="fourth-column">mg/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond kidney.creatinine "!=" null}}
            <tr>
                <td class="first-column">SERUM CREATININE<br/><i class="test-method">Method : Enzymatic</i></td>
                {{#ifCond kidney.creatinine "<" 0.7}}
                <td class="second-column bold">{{kidney.creatinine}}</td>
                {{else ifCond kidney.creatinine ">" 1.3}}
                <td class="second-column bold">{{kidney.creatinine}}</td>
                {{else}}
                <td class="second-column">{{kidney.creatinine}}</td>
                {{/ifCond}}
                <td class="third-column">0.7 - 1.3</td>
                <td class="fourth-column">mg/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond kidney.uric "!=" null}}
            <tr>
                <td class="first-column">SERUM URIC ACID<br/><i class="test-method">Method : Uricase-POD</i></td>
                {{#ifCond kidney.uric "<" 3.5}}
                <td class="second-column bold">{{kidney.uric}}</td>
                {{else ifCond kidney.uric ">" 7.2}}
                <td class="second-column bold">{{kidney.uric}}</td>
                {{else}}
                <td class="second-column">{{kidney.uric}}</td>
                {{/ifCond}}
                <td class="third-column">3.5 - 7.2</td>
                <td class="fourth-column"> mg/dl</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond sodium "!=" null}}
            <tr class="test-category">
                <th><u>SERUM SODIUM CGHS 1481</u></th>
            </tr>
            {{#ifCond sodium.sodium "!=" null}}
            <tr>
                <td class="first-column">SODIUM<br/><i class="test-method">Method: Uricase - Ion Selective Electrode</i>
                </td>
                {{#ifCond serumSodium.sodium "<" 136}}
                <td class="second-column bold">{{serumSodium.sodium}}</td>
                {{else ifCond serumSodium.sodium ">" 155}}
                <td class="second-column bold">{{serumSodium.sodium}}</td>
                {{else}}
                <td class="second-column">{{serumSodium.sodium}}</td>
                {{/ifCond}}
                <td class="third-column">136 - 155</td>
                <td class="fourth-column">mmol/l</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond potassium "!=" null}}
            <tr class="test-category">
                <th><u>SERUM POTASSIUM CGHS 1482</u></th>
            </tr>
            <tr>
                <td class="first-column">POTASSIUM<br/><i class="test-method">Method: Uricase - Ion Selective
                    Electrode</i></td>
                    {{#ifCond potassium.potassium "<" 3.5}}
                <td class="second-column bold">{{potassium.potassium}}</td>
                {{else ifCond potassium.potassium ">" 5.5}}
                <td class="second-column bold">{{potassium.potassium}}</td>
                {{else}}
                <td class="second-column">{{potassium.potassium}}</td>
                {{/ifCond}}
                <td class="third-column">3.5 - 5.5</td>
                <td class="fourth-column">mmol/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond chloride "!=" null}}
            <tr class="test-category">
                <th><u>SERUM CHLORIDE CGHS 1531</u></th>
            </tr>
            <tr>
                <td class="first-column">CHLORIDE<br/><i class="test-method">Method: Uricase - Ion Selective
                    Electrode</i></td>
                {{#ifCond chloride.chloride "<" 96}}    
                <td class="second-column bold">{{chloride.chloride}}</td>
                {{else ifCond chloride.chloride ">" 107}}
                <td class="second-column bold">{{chloride.chloride}}</td>
                {{else}}
                <td class="second-column">{{chloride.chloride}}</td>
                {{/ifCond}}
                <td class="third-column">96 - 107</td>
                <td class="fourth-column">mmol/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond liver "!=" null}}
            <tr class="test-category">
                <th><u>LIVER FUNCTION TEST LFT CGHS 1513</u></th>
            </tr>
            {{#ifCond liver.bilirubin "!=" null}}
            <tr>
                <td class="first-column">TOTAL BILIRUBIN<br/><i class="test-method">Method: Diazo</i></td>
                {{#ifCond liver.bilirubin "<" 0.2}}
                <td class="second-column bold">{{liver.bilirubin}}</td>
                {{else ifCond liver.bilirubin ">" 1.2}}
                <td class="second-column bold">{{liver.bilirubin}}</td>
                {{else}}
                <td class="second-column">{{liver.bilirubin}}</td>
                {{/ifCond}}
                <td class="third-column">0.2 - 1.2</td>
                <td class="fourth-column">mg/l</td>
            </tr>
            {{/ifCond}}
            {{#ifCond liver.cbilirubin "!=" null}}
            <tr>
                <td class="first-column">CONJUGATED (D. BILIRUBIN)<br/><i class="test-method">Method: Diazo</i></td>
                {{#ifCond liver.cbilirubin "<" 0.1}}
                <td class="second-column bold">{{liver.cbilirubin}}</td>
                {{else ifCond liver.cbilirubin ">" 0.41}}
                <td class="second-column bold">{{liver.cbilirubin}}</td>
                {{else}}
                <td class="second-column">{{liver.cbilirubin}}</td>
                {{/ifCond}}
                <td class="third-column">0.1 -0.41</td>
                <td class="fourth-column">mg/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond liver.ucbilirubin "!=" null}}
            <tr>
                <td class="first-column">UNCOUNJUGATED (I D BILIRUBIN)<br/><i class="test-method">Method: Calculated</i>
                </td>
                {{#ifCond liver.ucbilirubin "<" 0.2}}
                <td class="second-column bold">{{liver.ucbilirubin}}</td>
                {{else ifCond liver.ucbilirubin ">" 1}}
                <td class="second-column bold">{{liver.ucbilirubin}}</td>
                {{else}}
                <td class="second-column">{{liver.ucbilirubin}}</td>
                {{/ifCond}}
                <td class="third-column">0.2 - 1</td>
                <td class="fourth-column">mg/dl</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond sgot "!=" null}}
            <tr class="test-category">
                <th><u>SGOT / AST CGHS 1476</u></th>
            </tr>
            <tr>
                <td class="first-column">AST/SGOT<br/><i class="test-method">Method: IFCC</i></td>
                {{#ifCond sgot.sgot "<" 0}}
                <td class="second-column bold">{{sgot.sgot}}</td>
                {{else ifCond sgot.sgot ">" 35}}
                <td class="second-column bold">{{sgot.sgot}}</td>
                {{else}}
                <td class="second-column">{{sgot.sgot}}</td>
                {{/ifCond}}
                <td class="third-column">0-35</td>
                <td class="fourth-column">iu/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond sgpt "!=" null}}
            <tr class="test-category">
                <th><u>SGPT / ALT CGHS 1475</u></th>
            </tr>
            {{#ifCond sgpt.sgpt "!=" null}}
            <tr>
                <td class="first-column">ALT/SGPT<br/><i class="test-method">Method: IFCC</i></td>
                {{#ifCond sgpt.sgpt "<" 0}}
                <td class="second-column bold">{{sgpt.sgpt}}</td>
                {{else ifCond sgpt.sgpt ">" 45}}
                <td class="second-column bold">{{sgpt.sgpt}}</td>
                {{else}}
                <td class="second-column">{{sgpt.sgpt}}</td>
                {{/ifCond}}
                <td class="third-column">0-45</td>
                <td class="fourth-column">iu/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond sgpt.alkphosphatase "!=" null}}
            <tr>
                <td class="first-column">ALKALINE PHOSPHATASE (ALP)<br/><i class="test-method">Method: ALP-AMP</i></td>
                {{#ifCond sgpt.alkphosphatase "<" 53}}
                <td class="second-column bold">{{sgpt.alkphosphatase}}</td>
                {{else ifCond sgpt.alkphosphatase ">" 128}}
                <td class="second-column bold">{{sgpt.alkphosphatase}}</td>
                {{else}}
                <td class="second-column">{{sgpt.alkphosphatase}}</td>
                {{/ifCond}}
                <td class="third-column">53 - 128</td>
                <td class="fourth-column">iu/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond sgpt.tprotein "!=" null}}
            <tr>
                <td class="first-column">TOTAL PROTEIN<br/><i class="test-method">Method: Biuret</i></td>
                {{#ifCond sgpt.tprotein "<" 6.4}}
                <td class="second-column bold">{{sgpt.tprotein}}</td>
                {{else ifCond sgpt.tprotein ">" 8.3}}
                <td class="second-column bold">{{sgpt.tprotein}}</td>
                {{else}}
                <td class="second-column">{{sgpt.tprotein}}</td>
                {{/ifCond}}
                <td class="third-column">6.4 - 8.3</td>
                <td class="fourth-column">g/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond sgpt.serumalbumin "!=" null}}
            <tr>
                <td class="first-column">SERUM ALBUMIN<br/><i class="test-method">Method: Calculated</i></td>
                {{#ifCond sgpt.serumalbumin "<" 3.5}}
                <td class="second-column bold">{{sgpt.serumalbumin}}</td>
                {{else ifCond sgpt.serumalbumin ">" 5.2}}
                <td class="second-column bold">{{sgpt.serumalbumin}}</td>
                {{else}}
                <td class="second-column">{{sgpt.serumalbumin}}</td>
                {{/ifCond}}
                <td class="third-column">3.5 - 5.2</td>
                <td class="fourth-column">g/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond sgpt.globin "!=" null}}
            <tr>
                <td class="first-column">GLOBIN<br/><i class="test-method">Method: Calculated</i></td>
                {{#ifCond sgpt.globin "<" 1.5}}
                <td class="second-column bold">{{sgpt.globin}}</td>
                {{else ifCond sgpt.globin ">" 3}}
                <td class="second-column bold">{{sgpt.globin}}</td>
                {{else}}
                <td class="second-column">{{sgpt.globin}}</td>
                {{/ifCond}}
                <td class="third-column">1.5 - 3</td>
                <td class="fourth-column">g/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond sgpt.agratio "!=" null}}
            <tr>
                <td class="first-column">A/G RATIO<br/><i class="test-method">Method: Calculated</i></td>
                {{#ifCond sgpt.agratio "<" 1.5}}
                <td class="second-column bold">{{sgpt.agratio}}</td>
                {{else ifCond sgpt.agratio ">" 3}}
                <td class="second-column bold">{{sgpt.agratio}}</td>
                {{else}}
                <td class="second-column">{{sgpt.agratio}}</td>
                {{/ifCond}}
                <td class="third-column">1.5 - 3</td>
                <td class="fourth-column">g/dl</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond serumAmylase "!=" null}}
            <tr class="test-category">
                <th><u>SERUM AMYLASE CGHS 1477</u></th>
            </tr>
            <tr>
                <td class="first-column">S AMYLASE</td>
                {{#ifCond serumAmylase.serumamylase "<" 0}}
                <td class="second-column bold">{{serumAmylase.serumamylase}}</td>
                {{else ifCond serumAmylase.serumamylase ">" 90}}
                <td class="second-column bold">{{serumAmylase.serumamylase}}</td>
                {{else}}
                <td class="second-column">{{serumAmylase.serumamylase}}</td>
                {{/ifCond}}
                <td class="third-column">0-90</td>
                <td class="fourth-column">u/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond serumLipase "!=" null}}
            <tr class="test-category">
                <th><u>SERUM LIPASE CGHS 1478</u></th>
            </tr>
            <tr>
                <td class="first-column">S LIPASE</td>
                {{#ifCond serumLipase.serumlipase "<" 0}}
                <td class="second-column bold">{{serumLipase.serumlipase}}</td>
                {{else ifCond serumLipase.serumlipase ">" 60}}
                <td class="second-column bold">{{serumLipase.serumlipase}}</td>
                {{else}}
                <td class="second-column">{{serumLipase.serumlipase}}</td>
                {{/ifCond}}
                <td class="third-column">0-60</td>
                <td class="fourth-column">u/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond coagulation "!=" null}}
            <tr class="test-category">
                <th><u>COAGULATION PROFILE CGHS 1733</u></th>
            </tr>
            {{#ifCond coagulation.ptpatient "!=" null}}
            <tr>
                <td class="first-column">PT PATIENT</td>
                {{#ifCond coagulation.ptpatient "<" 11}}
                <td class="second-column bold">{{coagulation.ptpatient}}</td>
                {{else ifCond coagulation.ptpatient ">" 16}}
                <td class="second-column bold">{{coagulation.ptpatient}}</td>
                {{else}}
                <td class="second-column">{{coagulation.ptpatient}}</td>
                {{/ifCond}}
                <td class="third-column">11.00 - 16.00</td>
                <td class="fourth-column">u/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond coagulation.ptcontrol "!=" null}}
            <tr>
                <td class="first-column">PT CONTROL</td>
                <td class="second-column">{{coagulation.ptcontrol}}</td>
                <td class="third-column"></td>
                <td class="fourth-column">u/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond coagulation.index "!=" null}}
            <tr>
                <td class="first-column">INDEX</td>
                <td class="second-column">{{coagulation.index}}</td>
                <td class="third-column"></td>
                <td class="fourth-column">u/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond coagulation.isireagent "!=" null}}
            <tr>
                <td class="first-column">ISI Value of Reagent</td>
                <td class="second-column">{{coagulation.isireagent}}</td>
                <td class="third-column"></td>
                <td class="fourth-column">u/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond coagulation.inr "!=" null}}
            <tr>
                <td class="first-column">INR (International Normalized Ratio)</td>
                {{#ifCond coagulation.inr "<" 0.8}}
                <td class="second-column bold">{{coagulation.inr}}</td>
                {{else ifCond coagulation.inr ">" 1.2}}
                <td class="second-column bold">{{coagulation.inr}}</td>
                {{else}}
                <td class="second-column">{{coagulation.inr}}</td>
                {{/ifCond}}
                <td class="third-column">0.8 - 1.2</td>
                <td class="fourth-column">u/l</td>
            </tr>
            {{/ifCond}}

            {{#ifCond coagulation.pttk "!=" null}}
            <tr>
                <td class="first-column">PTTK</td>
                {{#ifCond coagulation.pttk "<" 22}}
                <td class="second-column bold">{{coagulation.pttk}}</td>
                {{else ifCond coagulation.pttk ">" 40}}
                <td class="second-column bold">{{coagulation.pttk}}</td>
                {{else}}
                <td class="second-column">{{coagulation.pttk}}</td>
                {{/ifCond}}
                <td class="third-column">22 - 40</td>
                <td class="fourth-column">u/l</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond hiv "!=" null}}
            <tr class="test-category">
                <th><u>HIV 1 & 2 CGHS 1426</u></th>
            </tr>
            <tr>
                <td class="first-column">HIV (AIDS) ANTIBODY I & II</td>
                <td class="second-column">{{hiv.hiv}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Non-reactive</td>
            </tr>
            {{/ifCond}}

            {{#ifCond hepatitis "!=" null}}
            <tr class="test-category">
                <th><u>HBS AG CHGS 1424</u></th>
            </tr>
            <tr>
                <td class="first-column">HEPATITIS B SURFACE ANTIGEN</td>
                <td class="second-column">{{hepatitis.hepatitis}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Non-reactive</td>
            </tr>
            {{/ifCond}}

            {{#ifCond hcv "!=" null}}
            <tr class="test-category">
                <th><u>HCV CGHS 1425</u></th>
            </tr>
            <tr>
                <td class="first-column">HCV ANTIBODY TEST</td>
                <td class="second-column">{{hcv.hcv}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Non-reactive</td>
            </tr>
            {{/ifCond}}

            {{#ifCond vdrl "!=" null}}
            <tr class="test-category">
                <th><u>VDRL CGHS 1427</u></th>
            </tr>
            <tr>
                <td class="first-column">VDRL CARD</td>
                <td class="second-column">{{vdrl.vdrl}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Non-reactive</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine "!=" null}}
            <tr class="test-category">
                <th><u>URINE ROUTINE CGHS 1383</u></th>
            </tr>
            {{#ifCond urine.quantity "!=" null}}
            <tr>
                <td class="first-column">QUANTITY</td>
                <td class="second-column">{{urine.quantity}}</td>
                <td class="third-column"></td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.color "!=" null}}
            <tr>
                <td class="first-column">COLOUR</td>
                <td class="second-column">{{urine.color}}</td>
                <td class="third-column"></td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.transparency "!=" null}}
            <tr>
                <td class="first-column">TRANSPARENCY</td>
                <td class="second-column">{{urine.transparency}}</td>
                <td class="third-column"></td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.gravity "!=" null}}
            <tr>
                <td class="first-column">SPECIFIC GRAVITY</td>
                {{#ifCond urine.gravity "<" 1.005}}
                <td class="second-column bold">{{urine.gravity}}</td>
                {{else ifCond urine.gravity ">" 1.030}}
                <td class="second-column bold">{{urine.gravity}}</td>
                {{else}}
                <td class="second-column">{{urine.gravity}}</td>
                {{/ifCond}}
                <td class="third-column">1.005 - 1.030</td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.reaction "!=" null}}
            <tr>
                <td class="first-column">REACTION</td>
                <td class="second-column">{{urine.reaction}}</td>
                <td class="third-column">ACIDIC</td>
                <td class="fourth-column">ACIDIC - ALKALINE</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.ph "!=" null}}
            <tr>
                <td class="first-column">PH</td>
                {{#ifCond urine.ph "<" 4.8}}
                <td class="second-column bold">{{urine.ph}}</td>
                {{else ifCond urine.ph ">" 7.4}}
                <td class="second-column bold">{{urine.ph}}</td>
                {{else}}
                <td class="second-column">{{urine.ph}}</td>
                {{/ifCond}}
                <td class="third-column">4.8 - 7.4</td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.albumin "!=" null}}
            <tr>
                <td class="first-column">ALBUMIN</td>
                {{#ifCond urine.albumin "<" 3.5}}
                <td class="second-column bold">{{urine.albumin}}</td>
                {{else ifCond urine.albumin ">" 5.2}}
                <td class="second-column bold">{{urine.albumin}}</td>
                {{else}}
                <td class="second-column">{{urine.albumin}}</td>
                {{/ifCond}}
                <td class="third-column">3.50 - 5.20</td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.usugar "!=" null}}
            <tr>
                <td class="first-column">SUGAR</td>
                <td class="second-column">{{urine.usugar}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column">NIL</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.ublood "!=" null}}
            <tr>
                <td class="first-column">BLOOD</td>
                <td class="second-column">{{urine.ublood}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.ubilirubin "!=" null}}
            <tr>
                <td class="first-column">URINE BILIRUBIN</td>
                <td class="second-column">{{urine.ubilirubin}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.urobilinogen "!=" null}}
            <tr>
                <td class="first-column">UROBILINOGEN</td>
                <td class="second-column">{{urine.urobilinogen}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.uacetone "!=" null}}
            <tr>
                <td class="first-column">URINE FOR KETONE BODIES/ACETONE</td>
                <td class="second-column">{{urine.uacetone}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column">mg/dL</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.epithelial "!=" null}}
            <tr>
                <td class="first-column">EPITHELIAL CELLS</td>
                <td class="second-column">{{urine.epithelial}}</td>
                <td class="third-column">/HPF</td>
                <td class="fourth-column">/HPF</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.pus "!=" null}}
            <tr>
                <td class="first-column">PUS CELLS</td>
                {{#ifCond urine.pus "<" 1}}
                <td class="second-column bold">{{urine.pus}}</td>
                {{else ifCond urine.pus ">" 2}}
                <td class="second-column bold">{{urine.pus}}</td>
                {{else}}
                <td class="second-column">{{urine.pus}}</td>
                {{/ifCond}}
                <td class="third-column">1-2</td>
                <td class="fourth-column">/HPF</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.urbc "!=" null}}
            <tr>
                <td class="first-column">RBC</td>
                <td class="second-column">{{urine.urbc}}</td>
                <td class="third-column">/HPF</td>
                <td class="fourth-column">/HPF</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.crystals "!=" null}}
            <tr>
                <td class="first-column">CRYSTALS</td>
                <td class="second-column">{{urine.crystals}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column">NIL</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.casts "!=" null}}
            <tr>
                <td class="first-column">CASTS</td>
                <td class="second-column">{{urine.casts}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column">NIL</td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.bacteria "!=" null}}
            <tr>
                <td class="first-column">BACTERIA</td>
                <td class="second-column">{{urine.bacteria}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond urine.uother "!=" null}}
            <tr>
                <td class="first-column">OTHER</td>
                <td class="second-column">{{urine.uother}}</td>
                <td class="third-column">NIL</td>
                <td class="fourth-column">dl</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond bloodSugar "!=" null}}
            <tr class="test-category">
                <th><u>BLOOD SUGAR</u></th>
            </tr>
            <tr>
                <td class="first-column">FBS</td>
                {{#ifCond bloodSugar.bsugar "<" 70}}
                <td class="second-column bold">{{bloodSugar.bsugar}}</td>
                {{else ifCond bloodSugar.bsugar ">" 110}}
                <td class="second-column bold">{{bloodSugar.bsugar}}</td>
                {{else}}
                <td class="second-column">{{bloodSugar.bsugar}}</td>
                {{/ifCond}}
                <td class="third-column">70-110</td>
                <td class="fourth-column">mg/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond bloodGlucose "!=" null}}
            <tr class="test-category">
                <th><u>BLOOD GLUCOSE RANDOM CGHS 1444</u></th>
            </tr>
            {{#ifCond bloodGlucose.bglucose "!=" null}}
            <tr>
                <td class="first-column">BLOOD GLUCOSE - RANDOM</td>
                {{#ifCond bloodGlucose.bglucose "<" 70}}
                <td class="second-column bold">{{bloodGlucose.bglucose}}</td>
                {{else ifCond bloodGlucose.bglucose ">" 140}}
                <td class="second-column bold">{{bloodGlucose.bglucose}}</td>
                {{else}}
                <td class="second-column">{{bloodGlucose.bglucose}}</td>
                {{/ifCond}}
                <td class="third-column">70-140</td>
                <td class="fourth-column">mg/dl</td>
            </tr>
            {{/ifCond}}

            {{#ifCond bloodGlucose.pp "!=" null}}
            <tr>
                <td class="first-column">PP</td>
                {{#ifCond bloodGlucose.pp "<" 100}}
                <td class="second-column bold">{{bloodGlucose.pp}}</td>
                {{else ifCond bloodGlucose.pp ">" 140}}
                <td class="second-column bold">{{bloodGlucose.pp}}</td>
                {{else}}
                <td class="second-column">{{bloodGlucose.pp}}</td>
                {{/ifCond}}
                <td class="third-column">100-140</td>
                <td class="fourth-column">mg/dl</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond pct "!=" null}}
            <tr class="test-category">
                <th><u>PCT</u></th>
            </tr>
            <tr>
                <td class="first-column">PCT</td>
                {{#ifCond pct.pct "<" 0}}
                <td class="second-column bold">{{pct.pct}}</td>
                {{else ifCond pct.pct ">" 0.05}}
                <td class="second-column bold">{{pct.pct}}</td>
                {{else}}
                <td class="second-column">{{pct.pct}}</td>
                {{/ifCond}}
                <td class="third-column">0 - 0.05</td>
                <td class="fourth-column">ng/ml</td>
            </tr>
            {{/ifCond}}

            {{#ifCond dimer "!=" null}}
            <tr class="test-category">
                <th><u>D-DIMER CGHS 1409</u></th>
            </tr>
            <tr>
                <td class="first-column">D DIMER</td>
                {{#ifCond dimer.dimer "<" 0}}
                <td class="second-column bold">{{dimer.dimer}}</td>
                {{else ifCond dimer.dimer ">" 500}}
                <td class="second-column bold">{{dimer.dimer}}</td>
                {{else}}
                <td class="second-column">{{dimer.dimer}}</td>
                {{/ifCond}}
                <td class="third-column">0-500</td>
                <td class="fourth-column">ng/ml</td>
            </tr>
            {{/ifCond}}

            {{#ifCond serumFerritin "!=" null}}
            <tr class="test-category">
                <th><u>SERUM FERRITIN CGHS 1517</u></th>
            </tr>
            <tr>
                <td class="first-column">SERUM FERRITIN CGHS 1517</td>
                <td class="second-column">{serumFerritin.{serumferritin}}</td>
                <td class="third-column"></td>
                <td class="fourth-column"></td>
            </tr>
            {{/ifCond}}

            {{#ifCond malaria "!=" null}}
            <tr class="test-category">
                <th><u>MALARIA CARD TEST CGHS 1407</u></th>
            </tr>
            <tr>
                <td class="first-column">MALARIA ANTIGEN</td>
                <td class="second-column">{{malaria.malaria}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Negative</td>
            </tr>
            {{/ifCond}}

            {{#ifCond dengue "!=" null}}
            <tr class="test-category">
                <th><u>DENGUE SEROLOGY CGHS 1824</u></th>
            </tr>
            {{#ifCond dengue.dengue "!=" null}}
            <tr>
                <td class="first-column">DENGUE NSI ANTIGEN</td>
                <td class="second-column">{{dengue.dengue}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Negative</td>
            </tr>
            {{/ifCond}}

            {{#ifCond dengue.dengueigg "!=" null}}
            <tr>
                <td class="first-column">DENGUE IgG</td>
                <td class="second-column">{{dengue.dengueigg}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Negative</td>
            </tr>
            {{/ifCond}}

            {{#ifCond dengue.dengueigm "!=" null}}
            <tr>
                <td class="first-column">DENGUE IgM</td>
                <td class="second-column">{{dengue.dengueigm}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Negative</td>
            </tr>
            {{/ifCond}}
            {{/ifCond}}

            {{#ifCond widal "!=" null}}
            <tr class="test-category">
                <th><u>WIDAL TEST CGHS 1823</u></th>
            </tr>
            <tr>
                <td class="first-column">WIDAL TEST (SLIDE METHOD)</td>
                <td class="second-column">{{widal.widal}}</td>
                <td class="third-column">Non-reactive</td>
                <td class="fourth-column">Negative</td>
            </tr>
            {{/ifCond}}
        </table>
    </div>
</div>
</body>
</html>
