<tr class="tr_border">
    <td>
        <div class="vertical_td LIVER">
            <div class="verticalTableHeader">ABG WITH ELECTROLYTES CGHS 1507</div>
        </div>
    </td>
    <td>Ph ABG  *</td>
    <td>7.35 - 7.45</td>
    <td><input type="text" tabindex="43" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="143" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="243" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="343" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="443" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="543" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="643" name="phAbg" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>PCO2  *</td>
    <td>35 - 45 mmHg</td>
    <td><input type="text" tabindex="43" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="143" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="243" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="343" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="443" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="543" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="643" name="pco2" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>PO2 *</td>
    <td>80 - 100 mmHg</td>
    <td><input type="text" tabindex="43" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="143" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="243" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="343" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="443" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="543" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="643" name="po2" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>BEecf *</td>
    <td>mmol/L</td>
    <td><input type="text" tabindex="43" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="143" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="243" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="343" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="443" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="543" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="643" name="beecf" class="report_text"></td>

</tr>


<tr class="tr_border">
    <td></td>
    <td>HCO3 *</td>
    <td>21 - 28 mmol/L</td>
    <td><input type="text" tabindex="43" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="143" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="243" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="343" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="443" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="543" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="643" name="hco3" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>SO2 *</td>
    <td>94 - 100 %</td>
    <td><input type="text" tabindex="43" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="143" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="243" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="343" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="443" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="543" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="643" name="so2" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>NA *</td>
    <td>135 - 145 mmol/L</td>
    <td><input type="text" tabindex="43" name="na" class="report_text"></td>
    <td><input type="text" tabindex="143" name="na" class="report_text"></td>
    <td><input type="text" tabindex="243" name="na" class="report_text"></td>
    <td><input type="text" tabindex="343" name="na" class="report_text"></td>
    <td><input type="text" tabindex="443" name="na" class="report_text"></td>
    <td><input type="text" tabindex="543" name="na" class="report_text"></td>
    <td><input type="text" tabindex="643" name="na" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>K *</td>
    <td>3.5 - 5.2 mmo/L</td>
    <td><input type="text" tabindex="43" name="k" class="report_text"></td>
    <td><input type="text" tabindex="143" name="k" class="report_text"></td>
    <td><input type="text" tabindex="243" name="k" class="report_text"></td>
    <td><input type="text" tabindex="343" name="k" class="report_text"></td>
    <td><input type="text" tabindex="443" name="k" class="report_text"></td>
    <td><input type="text" tabindex="543" name="k" class="report_text"></td>
    <td><input type="text" tabindex="643" name="k" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>I Ca *</td>
    <td>mmol/L</td>
    <td><input type="text" tabindex="43" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="143" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="243" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="343" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="443" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="543" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="643" name="ica" class="report_text"></td>

</tr>


<tr class="tr_border">
    <td></td>
    <td>HCT *</td>
    <td>16.5 - 89.5 %</td>
    <td><input type="text" tabindex="43" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="143" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="243" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="343" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="443" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="543" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="643" name="hct" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>HB *</td>
    <td>13.0 - 18.0 g/dl</td>
    <td><input type="text" tabindex="43" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="143" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="243" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="343" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="443" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="543" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="643" name="abgHb" class="report_text"></td>

</tr>