<tr class="tr_border">
    <td>
        <div class="vertical_td LIVER">
            <div class="verticalTableHeader">ABG WITH ELECTROLYTES CGHS 1507</div>
        </div>
    </td>
    <td>Ph ABG  *</td>
    <td>7.35 - 7.45</td>
    <td><input type="text" tabindex="60" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="160" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="260" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="360" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="460" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="560" name="phAbg" class="report_text"></td>
    <td><input type="text" tabindex="660" name="phAbg" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>PCO2  *</td>
    <td>35 - 45 mmHg</td>
    <td><input type="text" tabindex="60" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="160" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="260" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="360" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="460" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="560" name="pco2" class="report_text"></td>
    <td><input type="text" tabindex="660" name="pco2" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>PO2 *</td>
    <td>80 - 100 mmHg</td>
    <td><input type="text" tabindex="60" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="160" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="260" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="360" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="460" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="560" name="po2" class="report_text"></td>
    <td><input type="text" tabindex="660" name="po2" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>BEecf *</td>
    <td>mmol/L</td>
    <td><input type="text" tabindex="60" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="160" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="260" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="360" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="460" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="560" name="beecf" class="report_text"></td>
    <td><input type="text" tabindex="660" name="beecf" class="report_text"></td>

</tr>


<tr class="tr_border">
    <td></td>
    <td>HCO3 *</td>
    <td>21 - 28 mmol/L</td>
    <td><input type="text" tabindex="60" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="160" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="260" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="360" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="460" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="560" name="hco3" class="report_text"></td>
    <td><input type="text" tabindex="660" name="hco3" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>SO2 *</td>
    <td>94 - 100 %</td>
    <td><input type="text" tabindex="60" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="160" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="260" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="360" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="460" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="560" name="so2" class="report_text"></td>
    <td><input type="text" tabindex="660" name="so2" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>NA *</td>
    <td>135 - 145 mmol/L</td>
    <td><input type="text" tabindex="60" name="na" class="report_text"></td>
    <td><input type="text" tabindex="160" name="na" class="report_text"></td>
    <td><input type="text" tabindex="260" name="na" class="report_text"></td>
    <td><input type="text" tabindex="360" name="na" class="report_text"></td>
    <td><input type="text" tabindex="460" name="na" class="report_text"></td>
    <td><input type="text" tabindex="560" name="na" class="report_text"></td>
    <td><input type="text" tabindex="660" name="na" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>K *</td>
    <td>3.5 - 5.2 mmo/L</td>
    <td><input type="text" tabindex="60" name="k" class="report_text"></td>
    <td><input type="text" tabindex="160" name="k" class="report_text"></td>
    <td><input type="text" tabindex="260" name="k" class="report_text"></td>
    <td><input type="text" tabindex="360" name="k" class="report_text"></td>
    <td><input type="text" tabindex="460" name="k" class="report_text"></td>
    <td><input type="text" tabindex="560" name="k" class="report_text"></td>
    <td><input type="text" tabindex="660" name="k" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>I Ca *</td>
    <td>mmol/L</td>
    <td><input type="text" tabindex="60" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="160" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="260" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="360" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="460" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="560" name="ica" class="report_text"></td>
    <td><input type="text" tabindex="660" name="ica" class="report_text"></td>

</tr>


<tr class="tr_border">
    <td></td>
    <td>HCT *</td>
    <td>16.5 - 89.5 %</td>
    <td><input type="text" tabindex="60" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="160" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="260" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="360" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="460" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="560" name="hct" class="report_text"></td>
    <td><input type="text" tabindex="660" name="hct" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>HB *</td>
    <td>13.0 - 18.0 g/dl</td>
    <td><input type="text" tabindex="60" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="160" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="260" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="360" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="460" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="560" name="abgHb" class="report_text"></td>
    <td><input type="text" tabindex="660" name="abgHb" class="report_text"></td>

</tr>