<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>BLEEDING TIME</td>
    <td>2 to 6 min</td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>CLOTTING TIME</td>
    <td>3 to 10 min</td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="19" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="19" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>

</tr>