<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>BLEEDING TIME</td>
    <td>2 to 6 min</td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="60" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="60" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="160" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="160" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="260" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="260" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="360" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="360" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="460" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="460" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="560" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="560" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="660" name="bleedingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="660" name="bleedingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>CLOTTING TIME</td>
    <td>3 to 10 min</td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="60" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="60" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="160" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="160" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="260" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="260" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="360" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="360" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="460" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="460" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="560" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="560" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>
    <td>
        <div class="ui right labeled input">
            <input type="text" tabindex="660" name="clottingTimeMin" style="width: 20%">
            <div class="ui very basic label">min</div>
            <input type="text" tabindex="660" name="clottingTimeSec" style="width: 20%">
            <div class="ui very basic label">sec</div>
        </div>
    </td>

</tr>