
<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>BLOOD SUGAR</td>
    <td></td>
    <td><input type="text" tabindex="66" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="166" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="266" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="366" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="466" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="566" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="666" name="bsugar" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>BLOOD GLUCOSE - RANDOM</td>
    <td></td>
    <td><input type="text" tabindex="67" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="167" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="267" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="367" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="467" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="567" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="667" name="bglucose" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>PP</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="68" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="168" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="268" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="368" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="468" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="568" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="668" name="pp" class="report_text"></td>

</tr>
