

<tr class="tr_border bgroupAbo">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>BLOOD GROUP ABO
        <button  type="button" class="ui tiny red button" onclick="clearFields('.bgroupAbo .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="blood-group-abo-dropdown-1">
            <input type="hidden" name="bgroupAbo">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">Blood ABO</div>
            <div class="menu">
                <div class="item" data-value="A">A</div>
                <div class="item" data-value="B">B</div>
                <div class="item" data-value="AB">AB</div>
                <div class="item" data-value="O">O</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-abo-dropdown-2">
            <input type="hidden" name="bgroupAbo">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">Blood ABO</div>
            <div class="menu">
                <div class="item" data-value="A">A</div>
                <div class="item" data-value="B">B</div>
                <div class="item" data-value="AB">AB</div>
                <div class="item" data-value="O">O</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-abo-dropdown-3">
            <input type="hidden" name="bgroupAbo">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">Blood ABO</div>
            <div class="menu">
                <div class="item" data-value="A">A</div>
                <div class="item" data-value="B">B</div>
                <div class="item" data-value="AB">AB</div>
                <div class="item" data-value="O">O</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-abo-dropdown-4">
            <input type="hidden" name="bgroupAbo">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">Blood ABO</div>
            <div class="menu">
                <div class="item" data-value="A">A</div>
                <div class="item" data-value="B">B</div>
                <div class="item" data-value="AB">AB</div>
                <div class="item" data-value="O">O</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-abo-dropdown-5">
            <input type="hidden" name="bgroupAbo">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">Blood ABO</div>
            <div class="menu">
                <div class="item" data-value="A">A</div>
                <div class="item" data-value="B">B</div>
                <div class="item" data-value="AB">AB</div>
                <div class="item" data-value="O">O</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-abo-dropdown-6">
            <input type="hidden" name="bgroupAbo">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">Blood ABO</div>
            <div class="menu">
                <div class="item" data-value="A">A</div>
                <div class="item" data-value="B">B</div>
                <div class="item" data-value="AB">AB</div>
                <div class="item" data-value="O">O</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-abo-dropdown-7">
            <input type="hidden" name="bgroupAbo">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">Blood ABO</div>
            <div class="menu">
                <div class="item" data-value="A">A</div>
                <div class="item" data-value="B">B</div>
                <div class="item" data-value="AB">AB</div>
                <div class="item" data-value="O">O</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border bgroupRh">
    <td>
    </td>
    <td>BLOOD GROUP RH
        <button type="button"  class="ui tiny red button" onclick="clearFields('.bgroupRh .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="blood-group-rh-dropdown-1">
            <input type="hidden" name="bgroupRh">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">Blood RH</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-rh-dropdown-2">
            <input type="hidden" name="bgroupRh">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">Blood RH</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-rh-dropdown-3">
            <input type="hidden" name="bgroupRh">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">Blood RH</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-rh-dropdown-4">
            <input type="hidden" name="bgroupRh">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">Blood RH</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-rh-dropdown-5">
            <input type="hidden" name="bgroupRh">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">Blood RH</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-rh-dropdown-6">
            <input type="hidden" name="bgroupRh">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">Blood RH</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="blood-group-rh-dropdown-7">
            <input type="hidden" name="bgroupRh">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">Blood RH</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>