
<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>BLOOD SUGAR</td>
    <td></td>
    <td><input type="text" tabindex="60" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="160" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="260" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="360" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="460" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="560" name="bsugar" class="report_text"></td>
    <td><input type="text" tabindex="660" name="bsugar" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>BLOOD GLUCOSE - RANDOM</td>
    <td></td>
    <td><input type="text" tabindex="60" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="160" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="260" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="360" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="460" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="560" name="bglucose" class="report_text"></td>
    <td><input type="text" tabindex="660" name="bglucose" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>PP</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="60" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="160" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="260" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="360" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="460" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="560" name="pp" class="report_text"></td>
    <td><input type="text" tabindex="660" name="pp" class="report_text"></td>

</tr>
