<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM CALCIUM</td>
    <td>8.6 TO 10.2 (ADULT) mg/dl</td>
    <td><input type="text" tabindex="60" name="calcium" class="report_text"></td>
    <td><input type="text" tabindex="160" name="calcium" class="report_text"></td>
    <td><input type="text" tabindex="260" name="calcium" class="report_text"></td>
    <td><input type="text" tabindex="360" name="calcium" class="report_text"></td>
    <td><input type="text" tabindex="460" name="calcium" class="report_text"></td>
    <td><input type="text" tabindex="560" name="calcium" class="report_text"></td>
    <td><input type="text" tabindex="660" name="calcium" class="report_text"></td>

</tr>