<tr>
    <td class="vertical_td HEMOGRAM">
        <div class="verticalTableHeader">COMPLETE HAEMOGRAM CBC CGHS 1394</div>
    </td>
    <td>HAEMOGLOBIN (HB)</td>
    <td>13.0-18.0 gm/dl</td>
    <td><input type="text" tabindex="1" name="hb" class="report_text"></td>
    <td><input type="text" tabindex="101" name="hb" class="report_text"></td>
    <td><input type="text" tabindex="201" name="hb" class="report_text"></td>
    <td><input type="text" tabindex="301" name="hb" class="report_text"></td>
    <td><input type="text" tabindex="401" name="hb" class="report_text"></td>
    <td><input type="text" tabindex="501" name="hb" class="report_text"></td>
    <td><input type="text" tabindex="601" name="hb" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>TOTAL LEUCOCYTE COUNT (TLC)</td>
    <td>4000-11000 /cmm</td>
    <td><input type="text" tabindex="2" name="tlc" class="report_text"></td>
    <td><input type="text" tabindex="102" name="tlc" class="report_text"></td>
    <td><input type="text" tabindex="202" name="tlc" class="report_text"></td>
    <td><input type="text" tabindex="302" name="tlc" class="report_text"></td>
    <td><input type="text" tabindex="402" name="tlc" class="report_text"></td>
    <td><input type="text" tabindex="502" name="tlc" class="report_text"></td>
    <td><input type="text" tabindex="602" name="tlc" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>NEUTROPHILS</td>
    <td>45%-75%</td>
    <td><input type="text" tabindex="4" name="neutrophils" class="report_text"></td>
    <td><input type="text" tabindex="104" name="neutrophils" class="report_text"></td>
    <td><input type="text" tabindex="204" name="neutrophils" class="report_text"></td>
    <td><input type="text" tabindex="304" name="neutrophils" class="report_text"></td>
    <td><input type="text" tabindex="404" name="neutrophils" class="report_text"></td>
    <td><input type="text" tabindex="504" name="neutrophils" class="report_text"></td>
    <td><input type="text" tabindex="604" name="neutrophils" class="report_text"></td>

</tr>
<tr>
    <td></td>
    <td>LYMPHOCYTE</td>
    <td>20%-45%</td>
    <td><input type="text" tabindex="5" name="lymphocytes" class="report_text"></td>
    <td><input type="text" tabindex="105" name="lymphocytes" class="report_text"></td>
    <td><input type="text" tabindex="205" name="lymphocytes" class="report_text"></td>
    <td><input type="text" tabindex="305" name="lymphocytes" class="report_text"></td>
    <td><input type="text" tabindex="405" name="lymphocytes" class="report_text"></td>
    <td><input type="text" tabindex="505" name="lymphocytes" class="report_text"></td>
    <td><input type="text" tabindex="605" name="lymphocytes" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>MONOCYTE</td>
    <td>0%-10%</td>
    <td><input type="text" tabindex="6" name="monocyte" class="report_text"></td>
    <td><input type="text" tabindex="106" name="monocyte" class="report_text"></td>
    <td><input type="text" tabindex="206" name="monocyte" class="report_text"></td>
    <td><input type="text" tabindex="306" name="monocyte" class="report_text"></td>
    <td><input type="text" tabindex="406" name="monocyte" class="report_text"></td>
    <td><input type="text" tabindex="506" name="monocyte" class="report_text"></td>
    <td><input type="text" tabindex="606" name="monocyte" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>EOSINOPHIL</td>
    <td>0%-6%</td>
    <td><input type="text" tabindex="7" name="eosinophils" class="report_text"></td>
    <td><input type="text" tabindex="107" name="eosinophils" class="report_text"></td>
    <td><input type="text" tabindex="207" name="eosinophils" class="report_text"></td>
    <td><input type="text" tabindex="307" name="eosinophils" class="report_text"></td>
    <td><input type="text" tabindex="407" name="eosinophils" class="report_text"></td>
    <td><input type="text" tabindex="507" name="eosinophils" class="report_text"></td>
    <td><input type="text" tabindex="607" name="eosinophils" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>Basophils</td>
    <td>0%-1%</td>
    <td><input type="text" tabindex="8" name="basophils" class="report_text"></td>
    <td><input type="text" tabindex="108" name="basophils" class="report_text"></td>
    <td><input type="text" tabindex="208" name="basophils" class="report_text"></td>
    <td><input type="text" tabindex="308" name="basophils" class="report_text"></td>
    <td><input type="text" tabindex="408" name="basophils" class="report_text"></td>
    <td><input type="text" tabindex="508" name="basophils" class="report_text"></td>
    <td><input type="text" tabindex="608" name="basophils" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>RBC (RED BLOOD CELLS)</td>
    <td>3.8 - 5.8 Million/cmm</td>
    <td><input type="text" tabindex="9" name="rbc" class="report_text"></td>
    <td><input type="text" tabindex="109" name="rbc" class="report_text"></td>
    <td><input type="text" tabindex="209" name="rbc" class="report_text"></td>
    <td><input type="text" tabindex="309" name="rbc" class="report_text"></td>
    <td><input type="text" tabindex="409" name="rbc" class="report_text"></td>
    <td><input type="text" tabindex="509" name="rbc" class="report_text"></td>
    <td><input type="text" tabindex="609" name="rbc" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>RDW-CV</td>
    <td>10.0%-15.0%</td>
    <td><input type="text" tabindex="14" name="rdwcv" class="report_text"></td>
    <td><input type="text" tabindex="114" name="rdwcv" class="report_text"></td>
    <td><input type="text" tabindex="214" name="rdwcv" class="report_text"></td>
    <td><input type="text" tabindex="314" name="rdwcv" class="report_text"></td>
    <td><input type="text" tabindex="414" name="rdwcv" class="report_text"></td>
    <td><input type="text" tabindex="514" name="rdwcv" class="report_text"></td>
    <td><input type="text" tabindex="614" name="rdwcv" class="report_text"></td>
</tr>

<tr>
    <td></td>
    <td>RDW-SD</td>
    <td>35-60 fL</td>
    <td><input type="text" tabindex="15" name="rdwsd" class="report_text"></td>
    <td><input type="text" tabindex="115" name="rdwsd" class="report_text"></td>
    <td><input type="text" tabindex="215" name="rdwsd" class="report_text"></td>
    <td><input type="text" tabindex="315" name="rdwsd" class="report_text"></td>
    <td><input type="text" tabindex="415" name="rdwsd" class="report_text"></td>
    <td><input type="text" tabindex="515" name="rdwsd" class="report_text"></td>
    <td><input type="text" tabindex="615" name="rdwsd" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>PLATELET COUNT</td>
    <td>1.5-4.5 L/cmm</td>
    <td><input type="text" tabindex="16" name="platelet" class="report_text"></td>
    <td><input type="text" tabindex="116" name="platelet" class="report_text"></td>
    <td><input type="text" tabindex="216" name="platelet" class="report_text"></td>
    <td><input type="text" tabindex="316" name="platelet" class="report_text"></td>
    <td><input type="text" tabindex="416" name="platelet" class="report_text"></td>
    <td><input type="text" tabindex="516" name="platelet" class="report_text"></td>
    <td><input type="text" tabindex="616" name="platelet" class="report_text"></td>

</tr>