<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>

    <td>CPK-MB</td>
    <td>0.00 to 7.00 ng/ml</td>
    <td><input type="text" tabindex="60" name="cpkMb" class="report_text"></td>
    <td><input type="text" tabindex="160" name="cpkMb" class="report_text"></td>
    <td><input type="text" tabindex="260" name="cpkMb" class="report_text"></td>
    <td><input type="text" tabindex="360" name="cpkMb" class="report_text"></td>
    <td><input type="text" tabindex="460" name="cpkMb" class="report_text"></td>
    <td><input type="text" tabindex="560" name="cpkMb" class="report_text"></td>
    <td><input type="text" tabindex="660" name="cpkMb" class="report_text"></td>

</tr>