<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
        </div>
    </td>
    <td>ESR</td>
    <td>0-20 mm</td>
    <td><input type="text" tabindex="17" name="esr" class="report_text"></td>
    <td><input type="text" tabindex="117" name="esr" class="report_text"></td>
    <td><input type="text" tabindex="217" name="esr" class="report_text"></td>
    <td><input type="text" tabindex="317" name="esr" class="report_text"></td>
    <td><input type="text" tabindex="417" name="esr" class="report_text"></td>
    <td><input type="text" tabindex="517" name="esr" class="report_text"></td>
    <td><input type="text" tabindex="617" name="esr" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>C REACTIVE PROTEIN (CRP) QUANTITATIVE</td>
    <td>0-6 mg/l</td>
    <td><input type="text" tabindex="18" name="crp" class="report_text"></td>
    <td><input type="text" tabindex="118" name="crp" class="report_text"></td>
    <td><input type="text" tabindex="218" name="crp" class="report_text"></td>
    <td><input type="text" tabindex="318" name="crp" class="report_text"></td>
    <td><input type="text" tabindex="418" name="crp" class="report_text"></td>
    <td><input type="text" tabindex="518" name="crp" class="report_text"></td>
    <td><input type="text" tabindex="618" name="crp" class="report_text"></td>

</tr>