<script>

    window.onload = (event) => {
        $('input[name="ageUnit"]').val("Yr");

        $('input[name="azithromycin"]').val('Resistant');
        $('input[name="clarithromycin"]').val('Resistant');
        $('input[name="ampicillin"]').val('Resistant');
        $('input[name="amoxycillin"]').val('Resistant');
        $('input[name="amoxycillinClav"]').val('Resistant');
        $('input[name="amikacin"]').val('Resistant');
        $('input[name="cloxacillin"]').val('Resistant');
        $('input[name="erythromycin"]').val('Resistant');
        $('input[name="clidamycin"]').val('Resistant');
        $('input[name="cefadroxil"]').val('Resistant');
        $('input[name="cefotaxime"]').val('Resistant');
        $('input[name="cefuroxime"]').val('Resistant');
        $('input[name="ceftriaxone"]').val('Resistant');
        $('input[name="ceftriaxoneSulb"]').val('Resistant');
        $('input[name="ceftazidime"]').val('Resistant');
        $('input[name="cefoperazone"]').val('Resistant');
        $('input[name="cefoperazoneSulb"]').val('Resistant');
        $('input[name="cefixime"]').val('Resistant');
        $('input[name="imipenem"]').val('Resistant');
        $('input[name="imipenemColistin"]').val('Resistant');
        $('input[name="biapenem"]').val('Resistant');
        $('input[name="cefipime"]').val('Resistant');
        $('input[name="cefipimeTazo"]').val('Resistant');
        $('input[name="cefpirome"]').val('Resistant');
        $('input[name="cefpiromeSulb"]').val('Resistant');
        $('input[name="meropenam"]').val('Resistant');
        $('input[name="levofloxacin"]').val('Resistant');
        $('input[name="linezolid"]').val('Resistant');
        $('input[name="gatifloxacin"]').val('Resistant');
        $('input[name="vancomycin"]').val('Resistant');
        $('input[name="tiglecycline"]').val('Resistant');
        $('input[name="tiecoplanin"]').val('Resistant');

        if(localStorage["patient_name"]) {
            $('input[name="patient_name"]').val(localStorage["patient_name"]);
        }
        if(localStorage["Age"]) {
            $('input[name="Age"]').val(localStorage["Age"]);
        }
        if(localStorage["uhid"]) {
            $('input[name="uhid"]').val(localStorage["uhid"]);
        }
        if(localStorage["ipd"]) {
            $('input[name="ipd"]').val(localStorage["ipd"]);
        }
        if(localStorage["gender"]) {
            $('#gender-dropDown').find('div').first().removeClass('default');
            $('#gender-dropDown').find('div').first().text(localStorage["gender"]);
            document.querySelector("[data-value='" + localStorage["gender"] +"']").classList.add("active", "selected");
            $('input[name="gender"]').val(localStorage["gender"]);
        }
        if(localStorage["consultant"]) {
            $('#consultant-dropDown').find('div').first().removeClass('default');
            $('#consultant-dropDown').find('div').first().text(localStorage["consultant"]);
            document.querySelector("[data-value='" + localStorage["consultant"] +"']").classList.add("active", "selected");
            $('input[name="consultant"]').val(localStorage["consultant"]);

            $("#patient_details").find(`[data-value='consultant']`).val(localStorage["consultant"])
        }
        if(localStorage["address"]) {
            $('input[name="address"]').val(localStorage["address"]);
        }
        if(localStorage["phone"]) {
            $('input[name="phone"]').val(localStorage["phone"]);
        }

        localStorage.clear();
    };

    $(document).ready(function(){
        $('#createCulture').click(function(){
            populateLocalStorage();
            window.location = "/culture";
        });

        $('#createGeneralReport').click(function(){
            populateLocalStorage();
            window.location = "/";
        });
    });

    function populateLocalStorage() {
        localStorage["patient_name"] = document.getElementsByName("patient_name")[0].value;
        localStorage["Age"] = document.getElementsByName("Age")[0].value;
        localStorage["uhid"] = document.getElementsByName("uhid")[0].value;
        localStorage["ipd"] = document.getElementsByName("ipd")[0].value;
        localStorage["gender"] = document.getElementsByName("gender")[0].value;
        localStorage["consultant"] = document.getElementsByName("consultant")[0].value;
        localStorage["address"] = document.getElementsByName("address")[0].value;
        localStorage["phone"] = document.getElementsByName("phone")[0].value;
    }

    $('.ui.dropdown').dropdown();

    function clearFields(value){ 
        setTimeout(function () { 
            $(value).dropdown('restore defaults'); 
        },0) 
    }

    $("#specimen-nature-dropdown-1").dropdown({
        onChange:function(value,text){

            if(value === 'OTHERS'){
                $("#specimenOthers-1").show();
            }
            else{
                $("#specimenOthers-1").hide();
            }
        }
    });

    $("#specimen-nature-dropdown-2").dropdown({
        onChange:function(value,text){

            if(value === 'OTHERS'){
                $("#specimenOthers-2").show();
            }
            else{
                $("#specimenOthers-2").hide();
            }
        }
    });

    $("#specimen-nature-dropdown-3").dropdown({
        onChange:function(value,text){

            if(value === 'OTHERS'){
                $("#specimenOthers-3").show();
            }
            else{
                $("#specimenOthers-3").hide();
            }
        }
    });

    $("#specimen-nature-dropdown-4").dropdown({
        onChange:function(value,text){

            if(value === 'OTHERS'){
                $("#specimenOthers-4").show();
            }
            else{
                $("#specimenOthers-4").hide();
            }
        }
    });

    $("#specimen-nature-dropdown-5").dropdown({
        onChange:function(value,text){

            if(value === 'OTHERS'){
                $("#specimenOthers-5").show();
            }
            else{
                $("#specimenOthers-5").hide();
            }
        }
    });

    $("#specimen-nature-dropdown-6").dropdown({
        onChange:function(value,text){

            if(value === 'OTHERS'){
                $("#specimenOthers-6").show();
            }
            else{
                $("#specimenOthers-6").hide();
            }
        }
    });

    $("#specimen-nature-dropdown-7").dropdown({
        onChange:function(value,text){

            if(value === 'OTHERS'){
                $("#specimenOthers-7").show();
            }
            else{
                $("#specimenOthers-7").hide();
            }
        }
    });

    $('.ui.form')
       .form({
           fields: {
               patient_name: {
                   identifier: 'patient_name',
                   rules: [
                   {
                       type   : 'empty',
                       prompt : "Please enter patient's name"
                   }
                   ]
               },
               Age: {
                   identifier: 'Age',
                   rules: [
                    {
                        type   : 'empty',
                        prompt : "Please enter patient's age"
                    },
                    {
                            type   : 'integer',
                            prompt : "Age should be a number"
                    }
                   ]
               },
               ageUnit: {
                   identifier: 'ageUnit',
                   rules: [
                   {
                       type   : 'empty',
                       prompt : "Please enter patient's ageUnit"
                   }
                   ]
               },
               uhid: {
                   identifier: 'uhid',
                   rules: [
                   {
                       type   : 'empty',
                       prompt : "Please enter patient's UHID"
                   },
                   {
                            type   : 'integer',
                            prompt : "UHID should be a number"
                    }
                   ]
               },
               ipd: {
                   identifier: 'ipd',
                   rules: [
                   {
                       type   : 'empty',
                       prompt : "Please enter patient's IPD no."
                   },
                   {
                            type   : 'integer',
                            prompt : "IPD should be a number"
                    }
                   ]
               },
               address: {
                   identifier: 'address',
                   rules: [
                   {
                       type   : 'empty',
                       prompt : "Please enter patient's address"
                   }
                   ]
               },
               phone: {
                   identifier: 'phone',
                   rules: [
                   {
                       type   : 'empty',
                       prompt : "Please enter patient's phone no."
                   },
                   {
                            type   : 'integer',
                            prompt : "Phone number should be in digits"
                    },
                    {
                            type   : 'exactLength[10]',
                            prompt : "Phone number should be of 10 digits"
                    }
                   ]
               },
               gender: {
                   identifier: 'gender',
                   rules: [
                   {
                       type   : 'empty',
                       prompt : "Please enter patient's gender"
                   }
                   ]
               },
               consultant: {
                   identifier: 'consultant',
                   rules: [
                   {
                       type   : 'empty',
                       prompt : "Please enter consultant doctor's name"
                   }
                   ]
               }         
           }
       });
</script>
