
<tr class="tr_border hiv">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>HIV (AIDS) ANTIBODY I & II
        <button class = "ui tiny red button" onclick="clearFields('.hiv .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="hiv-dropdown-1">
            <input type="hidden" name="hiv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">HIV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hiv-dropdown-2">
            <input type="hidden" name="hiv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">HIV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hiv-dropdown-3">
            <input type="hidden" name="hiv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">HIV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hiv-dropdown-4">
            <input type="hidden" name="hiv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">HIV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hiv-dropdown-5">
            <input type="hidden" name="hiv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">HIV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hiv-dropdown-6">
            <input type="hidden" name="hiv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">HIV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hiv-dropdown-7">
            <input type="hidden" name="hiv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">HIV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border hepatitis">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>HEPATITIS B SURFACE ANTIGEN
        <button class = "ui tiny red button" onclick="clearFields('.hepatitis .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="hepatitis-dropdown-1">
            <input type="hidden" name="hepatitis">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">HEPATITIS</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hepatitis-dropdown-2">
            <input type="hidden" name="hepatitis">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">HEPATITIS</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hepatitis-dropdown-3">
            <input type="hidden" name="hepatitis">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">HEPATITIS</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hepatitis-dropdown-4">
            <input type="hidden" name="hepatitis">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">HEPATITIS</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hepatitis-dropdown-5">
            <input type="hidden" name="hepatitis">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">HEPATITIS</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hepatitis-dropdown-6">
            <input type="hidden" name="hepatitis">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">HEPATITIS</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hepatitis-dropdown-7">
            <input type="hidden" name="hepatitis">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">HEPATITIS</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border hcv">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>HCV ANTIBODY TEST
        <button class = "ui tiny red button" onclick="clearFields('.hcv .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="hcv-dropdown-1">
            <input type="hidden" name="hcv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">HCV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hcv-dropdown-2">
            <input type="hidden" name="hcv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">HCV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hcv-dropdown-3">
            <input type="hidden" name="hcv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">HCV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hcv-dropdown-4">
            <input type="hidden" name="hcv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">HCV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hcv-dropdown-5">
            <input type="hidden" name="hcv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">HCV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hcv-dropdown-6">
            <input type="hidden" name="hcv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">HCV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hcv-dropdown-7">
            <input type="hidden" name="hcv">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">HCV</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>

</tr>

<tr class="tr_border vdrl">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>VDRL CARD
        <button class = "ui tiny red button" onclick="clearFields('.vdrl .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="vdrl-dropdown-1">
            <input type="hidden" name="vdrl">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">VDRL</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="vdrl-dropdown-2">
            <input type="hidden" name="vdrl">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">VDRL</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="vdrl-dropdown-3">
            <input type="hidden" name="vdrl">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">VDRL</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="vdrl-dropdown-4">
            <input type="hidden" name="vdrl">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">VDRL</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="vdrl-dropdown-5">
            <input type="hidden" name="vdrl">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">VDRL</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="vdrl-dropdown-6">
            <input type="hidden" name="vdrl">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">VDRL</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="vdrl-dropdown-7">
            <input type="hidden" name="vdrl">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">VDRL</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>

</tr>
