<tr class="tr_border">
    <td>
        <div class="vertical_td LIVER">
            <div class="verticalTableHeader">LFT CGHS 1513</div>
    </td>
    <td>TOTAL BILIRUBIN</td>
    <td></td>
    <td><input type="text" tabindex="60" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="160" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="260" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="360" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="460" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="560" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="660" name="bilirubin" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>CONJUGATED (D. BILIRUBIN)</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="60" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="160" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="260" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="360" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="460" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="560" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="660" name="cbilirubin" class="report_text"></td>

</tr>