<tr class="tr_border">
    <td>
        <div class="vertical_td LIVER">
            <div class="verticalTableHeader">LFT CGHS 1513</div>
    </td>
    <td>TOTAL BILIRUBIN</td>
    <td></td>
    <td><input type="text" tabindex="" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="143" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="243" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="343" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="443" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="543" name="bilirubin" class="report_text"></td>
    <td><input type="text" tabindex="643" name="bilirubin" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>CONJUGATED (D. BILIRUBIN)</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="44" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="144" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="244" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="344" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="444" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="544" name="cbilirubin" class="report_text"></td>
    <td><input type="text" tabindex="644" name="cbilirubin" class="report_text"></td>

</tr>