<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader">LIPID PROFILE CGHS 1514</div>
    </td>
    <td>TOTAL CHOLESTROL</td>
    <td>Desirable Cholesterol Level < 200 ; Borderline High Cholesterol 200-240 ; High Cholesterol >240</td>
    <td><input type="text" tabindex="60" name="totalCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="160" name="totalCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="260" name="totalCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="360" name="totalCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="460" name="totalCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="560" name="totalCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="660" name="totalCholestrol" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>TRIGLYCERIDES</td>
    <td>Borderline High 150-199 ; High >= 200</td>
    <td><input type="text" tabindex="60" name="triglycerides" class="report_text"></td>
    <td><input type="text" tabindex="160" name="triglycerides" class="report_text"></td>
    <td><input type="text" tabindex="260" name="triglycerides" class="report_text"></td>
    <td><input type="text" tabindex="360" name="triglycerides" class="report_text"></td>
    <td><input type="text" tabindex="460" name="triglycerides" class="report_text"></td>
    <td><input type="text" tabindex="560" name="triglycerides" class="report_text"></td>
    <td><input type="text" tabindex="660" name="triglycerides" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>H D L CHOLESTEROL</td>
    <td>35.3 to 79.5 mg/dl</td>
    <td><input type="text" tabindex="60" name="hdlCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="160" name="hdlCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="260" name="hdlCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="360" name="hdlCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="460" name="hdlCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="560" name="hdlCholestrol" class="report_text"></td>
    <td><input type="text" tabindex="660" name="hdlCholestrol" class="report_text"></td>

</tr>
