
<tr class="tr_border malaria">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>MALARIA ANTIGEN
        <button class = "ui tiny red button" onclick="clearFields('.malaria .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="malaria-dropdown-1">
            <input type="hidden" name="malaria">
            <i class="dropdown icon"></i>
            <div class="default text">MALARIA</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="malaria-dropdown-2">
            <input type="hidden" name="malaria">
            <i class="dropdown icon"></i>
            <div class="default text">MALARIA</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="malaria-dropdown-3">
            <input type="hidden" name="malaria">
            <i class="dropdown icon"></i>
            <div class="default text">MALARIA</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="malaria-dropdown-4">
            <input type="hidden" name="malaria">
            <i class="dropdown icon"></i>
            <div class="default text">MALARIA</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="malaria-dropdown-5">
            <input type="hidden" name="malaria">
            <i class="dropdown icon"></i>
            <div class="default text">MALARIA</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="malaria-dropdown-6">
            <input type="hidden" name="malaria">
            <i class="dropdown icon"></i>
            <div class="default text">MALARIA</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="malaria-dropdown-7">
            <input type="hidden" name="malaria">
            <i class="dropdown icon"></i>
            <div class="default text">MALARIA</div>
            <div class="menu">
                <div class="item" data-value="REACTIVE">REACTIVE</div>
                <div class="item" data-value="NON-REACTIVE">NON-REACTIVE</div>
            </div>
        </div>
    </td>

</tr>

<tr class="tr_border dengue">
    <td>
        <div class="vertical_td DENGUE">
            <div class="verticalTableHeader">DENGUE</div>
    </td>
    <td>DENGUE NSI ANTIGEN
        <button class = "ui tiny red button" onclick="clearFields('.dengue .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="dengue-dropdown-1">
            <input type="hidden" name="dengue">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengue-dropdown-2">
            <input type="hidden" name="dengue">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengue-dropdown-3">
            <input type="hidden" name="dengue">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengue-dropdown-4">
            <input type="hidden" name="dengue">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengue-dropdown-5">
            <input type="hidden" name="dengue">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengue-dropdown-6">
            <input type="hidden" name="dengue">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengue-dropdown-7">
            <input type="hidden" name="dengue">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>

</tr>

<tr class="dengueigg">
    <td></td>
    <td>DENGUE IgG
        <button class = "ui tiny red button" onclick="clearFields('.dengueigg .dropdown')">CLEAR</button>
    </td>
    <td>70-140 Mg/dl</td>
    <td>
        <div class="ui selection dropdown" id="dengueigg-dropdown-1">
            <input type="hidden" name="dengueigg">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGG</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigg-dropdown-2">
            <input type="hidden" name="dengueigg">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGG</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigg-dropdown-3">
            <input type="hidden" name="dengueigg">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGG</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigg-dropdown-4">
            <input type="hidden" name="dengueigg">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGG</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigg-dropdown-5">
            <input type="hidden" name="dengueigg">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGG</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigg-dropdown-6">
            <input type="hidden" name="dengueigg">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGG</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigg-dropdown-7">
            <input type="hidden" name="dengueigg">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGG</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>

</tr>

<tr class="dengueigm">
    <td></td>
    <td>DENGUE IgM
        <button class = "ui tiny red button" onclick="clearFields('.dengueigm .dropdown')">CLEAR</button>
    </td>
    <td>70-140 Mg/dll</td>
    <td>
        <div class="ui selection dropdown" id="dengueigm-dropdown-1">
            <input type="hidden" name="dengueigm">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGM</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigm-dropdown-2">
            <input type="hidden" name="dengueigm">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGM</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigm-dropdown-3">
            <input type="hidden" name="dengueigm">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGM</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigm-dropdown-4">
            <input type="hidden" name="dengueigm">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGM</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigm-dropdown-5">
            <input type="hidden" name="dengueigm">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGM</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigm-dropdown-6">
            <input type="hidden" name="dengueigm">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGM</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="dengueigm-dropdown-7">
            <input type="hidden" name="dengueigm">
            <i class="dropdown icon"></i>
            <div class="default text">DENGUE-IGM</div>
            <div class="menu">
                <div class="item" data-value="PRESENT">PRESENT</div>
                <div class="item" data-value="ABSENT">ABSENT</div>
            </div>
        </div>
    </td>


</tr>

<tr class="tr_border widal">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>WIDAL TEST (SLIDE METHOD)
        <button class = "ui tiny red button" onclick="clearFields('.widal .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="widal-dropdown-1">
            <input type="hidden" name="widal">
            <i class="dropdown icon"></i>
            <div class="default text">WIDAL</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="widal-dropdown-2">
            <input type="hidden" name="widal">
            <i class="dropdown icon"></i>
            <div class="default text">WIDAL</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="widal-dropdown-3">
            <input type="hidden" name="widal">
            <i class="dropdown icon"></i>
            <div class="default text">WIDAL</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="widal-dropdown-4">
            <input type="hidden" name="widal">
            <i class="dropdown icon"></i>
            <div class="default text">WIDAL</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="widal-dropdown-5">
            <input type="hidden" name="widal">
            <i class="dropdown icon"></i>
            <div class="default text">WIDAL</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="widal-dropdown-6">
            <input type="hidden" name="widal">
            <i class="dropdown icon"></i>
            <div class="default text">WIDAL</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="widal-dropdown-7">
            <input type="hidden" name="widal">
            <i class="dropdown icon"></i>
            <div class="default text">WIDAL</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>


