<tr class="tr_border">
    <td></td>
    <td>Rheumatoid Factor (Quantitative)</td>
    <td>0 - 20.0 IU/ML</td>
    <td><input type="text" tabindex="60" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="160" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="260" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="360" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="460" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="560" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="660" name="rhFactor" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>ANTI CCP *</td>
    <td>Non significant < 17 U/ml </br> Significant > 17.0 u/ml</td>
    <td><input type="text" tabindex="60" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="160" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="260" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="360" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="460" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="560" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="660" name="antiCcp" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>CA 125(Ovarian Cancer Marker) *</td>
    <td>0-35 U/mL</td>
    <td><input type="text" tabindex="60" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="160" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="260" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="360" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="460" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="560" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="660" name="ca125" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>Glycosylated Hb*</td>
    <td>4-6.5 %</td>
    <td><input type="text" tabindex="60" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="160" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="260" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="360" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="460" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="560" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="660" name="glycoHb" class="report_text"></td>

</tr>

