<tr class="tr_border">
    <td></td>
    <td>Rheumatoid Factor (Quantitative)</td>
    <td>0 - 20.0 IU/ML</td>
    <td><input type="text" tabindex="60" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="160" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="260" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="360" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="460" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="560" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="660" name="rhFactor" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>ANTI CCP *</td>
    <td>Non significant < 17 U/ml </br> Significant > 17.0 u/ml</td>
    <td><input type="text" tabindex="60" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="160" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="260" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="360" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="460" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="560" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="660" name="antiCcp" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>CA 125(Ovarian Cancer Marker) *</td>
    <td>0-35 U/mL</td>
    <td><input type="text" tabindex="60" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="160" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="260" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="360" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="460" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="560" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="660" name="ca125" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>Glycosylated Hb*</td>
    <td>4-6.5 %</td>
    <td><input type="text" tabindex="60" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="160" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="260" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="360" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="460" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="560" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="660" name="glycoHb" class="report_text"></td>

</tr>

<tr class="tr_border hlaB27">
    <td>
    </td>
    <td>HLA B 27 PCR *
        <button type="button" class="ui tiny red button" onclick="clearFields('.hlaB27 .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-1">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-2">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-3">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-4">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-5">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-6">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-7">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border typhidotIgm">
    <td>
    </td>
    <td>TYPHIDOT IGM *
        <button type="button" class="ui tiny red button" onclick="clearFields('.typhidotIgm .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-1">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-2">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-3">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-4">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-5">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-6">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-7">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border typhidotIgg">
    <td>
    </td>
    <td>TYPHIDOT IGG *
        <button type="button" class="ui tiny red button" onclick="clearFields('.typhidotIgg .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-1">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-2">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-3">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-4">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-5">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-6">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-7">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>


<tr class="tr_border">
    <td></td>
    <td>SERUM IRON</td>
    <td>41-132 ug/dl</td>
    <td><input type="text" tabindex="60" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="160" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="260" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="360" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="460" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="560" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="660" name="serumIron" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>TOTAL IRON BINDING</td>
    <td>250 - 400 ug/dl</td>
    <td><input type="text" tabindex="60" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="160" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="260" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="360" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="460" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="560" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="660" name="totalIron" class="report_text"></td>

</tr>

<tr class="tr_border scrubIgg">
    <td>
    </td>
    <td>SCRUB TYPHUS IGG *
        <button type="button" class="ui tiny red button" onclick="clearFields('.scrubIgg .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="scrubIgg-dropdown-1">
            <input type="hidden" name="scrubIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">Scrub IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgg-dropdown-2">
            <input type="hidden" name="scrubIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">Scrub IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgg-dropdown-3">
            <input type="hidden" name="scrubIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">Scrub IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgg-dropdown-4">
            <input type="hidden" name="scrubIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">Scrub IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgg-dropdown-5">
            <input type="hidden" name="scrubIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">Scrub IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgg-dropdown-6">
            <input type="hidden" name="scrubIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">Scrub IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgg-dropdown-7">
            <input type="hidden" name="scrubIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">Scrub IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border scrubIgm">
    <td>
    </td>
    <td>SCRUB TYPHUS IGM *
        <button type="button" class="ui tiny red button" onclick="clearFields('.scrubIgm .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="scrubIgm-dropdown-1">
            <input type="hidden" name="scrubIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">Scrub IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgm-dropdown-2">
            <input type="hidden" name="scrubIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">Scrub IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgm-dropdown-3">
            <input type="hidden" name="scrubIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">Scrub IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgm-dropdown-4">
            <input type="hidden" name="scrubIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">Scrub IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgm-dropdown-5">
            <input type="hidden" name="scrubIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">Scrub IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgm-dropdown-6">
            <input type="hidden" name="scrubIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">Scrub IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="scrubIgm-dropdown-7">
            <input type="hidden" name="scrubIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">Scrub IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border leptospiraIgg">
    <td>
    </td>
    <td>LEPTOSPIRA TYPHUS IGG *
        <button type="button" class="ui tiny red button" onclick="clearFields('.leptospiraIgg .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgg-dropdown-1">
            <input type="hidden" name="leptospiraIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">Leptospira IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgg-dropdown-2">
            <input type="hidden" name="leptospiraIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">Leptospira IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgg-dropdown-3">
            <input type="hidden" name="leptospiraIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">Leptospira IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgg-dropdown-4">
            <input type="hidden" name="leptospiraIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">Leptospira IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgg-dropdown-5">
            <input type="hidden" name="leptospiraIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">Leptospira IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgg-dropdown-6">
            <input type="hidden" name="leptospiraIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">Leptospira IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgg-dropdown-7">
            <input type="hidden" name="leptospiraIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">Leptospira IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border leptospiraIgm">
    <td>
    </td>
    <td>LEPTOSPIRA TYPHUS IGM *
        <button type="button" class="ui tiny red button" onclick="clearFields('.leptospiraIgm .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgm-dropdown-1">
            <input type="hidden" name="leptospiraIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">Leptospira IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgm-dropdown-2">
            <input type="hidden" name="leptospiraIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">Leptospira IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgm-dropdown-3">
            <input type="hidden" name="leptospiraIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">Leptospira IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgm-dropdown-4">
            <input type="hidden" name="leptospiraIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">Leptospira IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgm-dropdown-5">
            <input type="hidden" name="leptospiraIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">Leptospira IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgm-dropdown-6">
            <input type="hidden" name="leptospiraIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">Leptospira IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="leptospiraIgm-dropdown-7">
            <input type="hidden" name="leptospiraIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">Leptospira IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border chikungunyaIgm">
    <td>
    </td>
    <td>CHIKUNGUNYA IgM *
        <button type="button" class="ui tiny red button" onclick="clearFields('.chikungunyaIgm .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="chikungunyaIgm-dropdown-1">
            <input type="hidden" name="chikungunyaIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">Chikungunya IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="chikungunyaIgm-dropdown-2">
            <input type="hidden" name="chikungunyaIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">Chikungunya IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="chikungunyaIgm-dropdown-3">
            <input type="hidden" name="chikungunyaIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">Chikungunya IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="chikungunyaIgm-dropdown-4">
            <input type="hidden" name="chikungunyaIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">Chikungunya IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="chikungunyaIgm-dropdown-5">
            <input type="hidden" name="chikungunyaIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">Chikungunya IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="chikungunyaIgm-dropdown-6">
            <input type="hidden" name="chikungunyaIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">Chikungunya IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="chikungunyaIgm-dropdown-7">
            <input type="hidden" name="chikungunyaIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">Chikungunya IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border">
    <td></td>
    <td>Absolute Eosinophil Count (AEC)</td>
    <td>40.00-440.00 Cells/cumm</td>
    <td><input type="text" tabindex="60" name="absoluteEosinophil" class="report_text"></td>
    <td><input type="text" tabindex="160" name="absoluteEosinophil" class="report_text"></td>
    <td><input type="text" tabindex="260" name="absoluteEosinophil" class="report_text"></td>
    <td><input type="text" tabindex="360" name="absoluteEosinophil" class="report_text"></td>
    <td><input type="text" tabindex="460" name="absoluteEosinophil" class="report_text"></td>
    <td><input type="text" tabindex="560" name="absoluteEosinophil" class="report_text"></td>
    <td><input type="text" tabindex="660" name="absoluteEosinophil" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>Gram Stain</td>
    <td></td>
    <td><input type="text" tabindex="60" name="gramStain" class="report_text"></td>
    <td><input type="text" tabindex="160" name="gramStain" class="report_text"></td>
    <td><input type="text" tabindex="260" name="gramStain" class="report_text"></td>
    <td><input type="text" tabindex="360" name="gramStain" class="report_text"></td>
    <td><input type="text" tabindex="460" name="gramStain" class="report_text"></td>
    <td><input type="text" tabindex="560" name="gramStain" class="report_text"></td>
    <td><input type="text" tabindex="660" name="gramStain" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>KOH Stain for fungus</td>
    <td></td>
    <td><input type="text" tabindex="60" name="kohStain" class="report_text"></td>
    <td><input type="text" tabindex="160" name="kohStain" class="report_text"></td>
    <td><input type="text" tabindex="260" name="kohStain" class="report_text"></td>
    <td><input type="text" tabindex="360" name="kohStain" class="report_text"></td>
    <td><input type="text" tabindex="460" name="kohStain" class="report_text"></td>
    <td><input type="text" tabindex="560" name="kohStain" class="report_text"></td>
    <td><input type="text" tabindex="660" name="kohStain" class="report_text"></td>

</tr>

<tr class="tr_border covid19RAT">
    <td>
    </td>
    <td>COVID 19 RAT Card Test
        <button type="button" class="ui tiny red button" onclick="clearFields('.covid19RAT .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="covid19RAT-dropdown-1">
            <input type="hidden" name="covid19RAT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">COVID 19 RAT</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="covid19RAT-dropdown-2">
            <input type="hidden" name="covid19RAT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">COVID 19 RAT</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="covid19RAT-dropdown-3">
            <input type="hidden" name="covid19RAT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">COVID 19 RAT</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="covid19RAT-dropdown-4">
            <input type="hidden" name="covid19RAT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">COVID 19 RAT</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="covid19RAT-dropdown-5">
            <input type="hidden" name="covid19RAT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">COVID 19 RAT</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="covid19RAT-dropdown-6">
            <input type="hidden" name="covid19RAT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">COVID 19 RAT</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="covid19RAT-dropdown-7">
            <input type="hidden" name="covid19RAT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">COVID 19 RAT</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr>
    <td></td>
    <td><b>CULTURE FOR BILL</b></td>
    <td></td>
    <td>
        <select name="cultureForBill-0" multiple="" class="ui fluid dropdown">
            <option value="">CULTURE</option>
            <option value="BLOOD">BLOOD</option>
            <option value="URINE">URINE</option>
            <option value="PUS">PUS</option>
            <option value="VAGINAL SWAB">VAGINAL SWAB</option>
            <option value="STOOL">STOOL</option>
            <option value="OTHERS">OTHERS</option>
            
        </select>
    </td>
    <td>
        <select name="cultureForBill-1" multiple="" class="ui fluid dropdown">
            <option value="">CULTURE</option>
            <option value="BLOOD">BLOOD</option>
            <option value="URINE">URINE</option>
            <option value="PUS">PUS</option>
            <option value="VAGINAL SWAB">VAGINAL SWAB</option>
            <option value="STOOL">STOOL</option>
            <option value="OTHERS">OTHERS</option>
            
        </select>
    </td>
    <td>
        <select name="cultureForBill-2" multiple="" class="ui fluid dropdown">
            <option value="">CULTURE</option>
            <option value="BLOOD">BLOOD</option>
            <option value="URINE">URINE</option>
            <option value="PUS">PUS</option>
            <option value="VAGINAL SWAB">VAGINAL SWAB</option>
            <option value="STOOL">STOOL</option>
            <option value="OTHERS">OTHERS</option>
            
        </select>
    </td>
    <td>
        <select name="cultureForBill-3" multiple="" class="ui fluid dropdown">
            <option value="">CULTURE</option>
            <option value="BLOOD">BLOOD</option>
            <option value="URINE">URINE</option>
            <option value="PUS">PUS</option>
            <option value="VAGINAL SWAB">VAGINAL SWAB</option>
            <option value="STOOL">STOOL</option>
            <option value="OTHERS">OTHERS</option>
            
        </select>
    </td>
    <td>
        <select name="cultureForBill-4" multiple="" class="ui fluid dropdown">
            <option value="">CULTURE</option>
            <option value="BLOOD">BLOOD</option>
            <option value="URINE">URINE</option>
            <option value="PUS">PUS</option>
            <option value="VAGINAL SWAB">VAGINAL SWAB</option>
            <option value="STOOL">STOOL</option>
            <option value="OTHERS">OTHERS</option>
            
        </select>
    </td>
    <td>
        <select name="cultureForBill-5" multiple="" class="ui fluid dropdown">
            <option value="">CULTURE</option>
            <option value="BLOOD">BLOOD</option>
            <option value="URINE">URINE</option>
            <option value="PUS">PUS</option>
            <option value="VAGINAL SWAB">VAGINAL SWAB</option>
            <option value="STOOL">STOOL</option>
            <option value="OTHERS">OTHERS</option>
            
        </select>
    </td>
    <td>
        <select name="cultureForBill-6" multiple="" class="ui fluid dropdown">
            <option value="">CULTURE</option>
            <option value="BLOOD">BLOOD</option>
            <option value="URINE">URINE</option>
            <option value="PUS">PUS</option>
            <option value="VAGINAL SWAB">VAGINAL SWAB</option>
            <option value="STOOL">STOOL</option>
            <option value="OTHERS">OTHERS</option>
            
        </select>
    </td>
</tr>