<tr class="tr_border">
    <td></td>
    <td>Rheumatoid Factor (Quantitative)</td>
    <td>0 - 20.0 IU/ML</td>
    <td><input type="text" tabindex="60" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="160" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="260" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="360" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="460" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="560" name="rhFactor" class="report_text"></td>
    <td><input type="text" tabindex="660" name="rhFactor" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>ANTI CCP *</td>
    <td>Non significant < 17 U/ml </br> Significant > 17.0 u/ml</td>
    <td><input type="text" tabindex="60" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="160" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="260" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="360" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="460" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="560" name="antiCcp" class="report_text"></td>
    <td><input type="text" tabindex="660" name="antiCcp" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>CA 125(Ovarian Cancer Marker) *</td>
    <td>0-35 U/mL</td>
    <td><input type="text" tabindex="60" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="160" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="260" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="360" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="460" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="560" name="ca125" class="report_text"></td>
    <td><input type="text" tabindex="660" name="ca125" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>Glycosylated Hb*</td>
    <td>4-6.5 %</td>
    <td><input type="text" tabindex="60" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="160" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="260" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="360" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="460" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="560" name="glycoHb" class="report_text"></td>
    <td><input type="text" tabindex="660" name="glycoHb" class="report_text"></td>

</tr>

<tr class="tr_border hlaB27">
    <td>
    </td>
    <td>HLA B 27 PCR *
        <button type="button" class="ui tiny red button" onclick="clearFields('.hlaB27 .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-1">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-2">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-3">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-4">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-5">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-6">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="hlaB27-dropdown-7">
            <input type="hidden" name="hlaB27">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">HLA B 27</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border typhidotIgm">
    <td>
    </td>
    <td>TYPHIDOT IGM *
        <button type="button" class="ui tiny red button" onclick="clearFields('.typhidotIgm .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-1">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-2">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-3">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-4">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-5">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-6">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgm-dropdown-7">
            <input type="hidden" name="typhidotIgm">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">TYPHIDOT IGM</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>

<tr class="tr_border typhidotIgg">
    <td>
    </td>
    <td>TYPHIDOT IGG *
        <button type="button" class="ui tiny red button" onclick="clearFields('.typhidotIgg .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-1">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-2">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-3">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-4">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-5">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-6">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="typhidotIgg-dropdown-7">
            <input type="hidden" name="typhidotIgg">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">TYPHIDOT IGG</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>


<tr class="tr_border">
    <td></td>
    <td>SERUM IRON</td>
    <td>41-132 ug/dl</td>
    <td><input type="text" tabindex="60" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="160" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="260" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="360" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="460" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="560" name="serumIron" class="report_text"></td>
    <td><input type="text" tabindex="660" name="serumIron" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>TOTAL IRON BINDING</td>
    <td>250 - 400 ug/dl</td>
    <td><input type="text" tabindex="60" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="160" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="260" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="360" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="460" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="560" name="totalIron" class="report_text"></td>
    <td><input type="text" tabindex="660" name="totalIron" class="report_text"></td>

</tr>