<table class="basic ui table">
    <tr>
        <td>Patient Name
            <input type="text" class=" ui input inputc" name="patient_name">
        </td>
        <td> Age
            <div class="ui right labeled input">
                <input type="text" name="Age" style="width: 20%">
                <div class="ui selection compact dropdown" id="ageunit-dropDown">
                    <input type="hidden" name="ageUnit">
                    <i class="dropdown icon"></i>
                    <div class="text">Years</div>
                    <div class="menu">
                        <div class="item active selected" data-value="Yr">Years</div>
                        <div class="item" data-value="Months">Months</div>
                        <div class="item" data-value="Days">Days</div>
                    </div>
                </div>
            </div>
        </td>

    </tr>

    <tr>
        <td>UHID/MR No.<input type="text" class="inputc" id="pwd" name="uhid"></td>
        <td>IPD No. : <input type="text" class="inputc" id="pwd" name="ipd"></td>
    </tr>

    <tr>
        <td>Gender
            <div class="ui selection fluid dropdown" id="gender-dropDown">
                <input type="hidden" name="gender">
                <i class="dropdown icon"></i>
                <div class="default text">Gender</div>
                <div class="menu">
                    <div class="item" data-value="Male">Male</div>
                    <div class="item" data-value="Female">Female</div>
                </div>
            </div>
        </td>
        <td>Consultant
            <div class="ui selection fluid dropdown" id="consultant-dropDown">
                <input type="hidden" name="consultant">
                <i class="dropdown icon"></i>
                <div class="default text">Consultant</div>
                <div class="menu">
                    <div class="item" data-value="Dr. Hardeep Singh">Dr. Hardeep Singh</div>
                    <div class="item" data-value="Dr. Alok Ahuja">Dr. Alok Ahuja</div>
                    <div class="item" data-value="Dr. Alka Singla">Dr. Alka Singla</div>
                    <div class="item" data-value="Dr. Risham Singla/Dr.Ashutosh">Dr. Risham
                        Singla/Dr.Ashutosh
                    </div>
                    <div class="item" data-value="Dr. Arsha Kalra">Dr. Arsha Kalra</div>
                    <div class="item" data-value="Dr. Monika Garg">Dr. Monika Garg</div>
                    <div class="item" data-value="Dr. Amitoj Garg">Dr. Amitoj Garg</div>
                    <div class="item" data-value="Dr. Navdeep Garg">Dr. Navdeep Garg</div>
                    <div class="item" data-value="Dr. Preeti Sharma">Dr. Preeti Sharma</div>
                    <div class="item" data-value="Dr. Jasbeer Singh Ahluwalia">Dr. Jasbeer Singh
                        Ahluwalia
                    </div>
                    <div class="item" data-value="Dr. Kapil Dev Doomra">Dr. Kapil Dev Doomra</div>
                    <div class="item" data-value="Dr. Abhinav Lakhiyani">Dr. Abhinav Lakhiyani</div>
                    <div class="item" data-value="Dr. Shelly Chugh">Dr. Shelly Chugh</div>
                    <div class="item" data-value="Dr. Abhishek ENT">Dr. Abhishek ENT</div>
                    <div class="item" data-value="Dr. Lovekesh Mittal">Dr. Lovekesh Mittal</div>
                    <div class="item" data-value="Dr. Lokesh">Dr. Lokesh</div>
                    <div class="item" data-value="Dr. Abeer Neurology">Dr. Abeer Neurology</div>
                    <div class="item" data-value="Dr. Gaurav Urology">Dr. Gaurav Urology</div>
                    <div class="item" data-value="Dr. Davinder Midha">Dr. Davinder Midha</div>
                    <div class="item" data-value="Dr. S. K. Gupta">Dr. S. K. Gupta</div>
                </div>
            </div>

        </td>
    </tr>
    <tr>
        <td colspan="2">Address<input type="text" class="inputc" name="address"></td>
    </tr>
    <tr>
        <td> Phone : <input type="text" class="inputc" name="phone"></td>
    </tr>

    <script>
        $('#ageunit-dropDown').dropdown({
            'onChange': function (value) {
                $('input[name="ageUnit"]').val(value);
            }
        });
    </script>

    <script>
        $('#consultant-dropDown').dropdown({
            'onChange': function (value) {
                $('input[name="consultantD"]').val(value);
            }
        });
        $('#gender-dropDown').dropdown({
            'onChange': function (value) {
                $('input[name="gender"]').val(value);
            }
        });
    </script>


    <script type="text/javascript">
        $('body').on('keydown input', 'textarea[data-expandable]', function () {
            //Auto-expanding textarea
            this.style.removeProperty('height');
            this.style.height = (this.scrollHeight + 2) + 'px';
        }).on('mousedown focus', 'textarea[data-expandable]', function () {
            //Do this on focus, to allow textarea to animate to height...
            this.style.removeProperty('height');
            this.style.height = (this.scrollHeight + 2) + 'px';
        });


    </script>
</table>