
<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>PCT</td>
    <td></td>
    <td><input type="text" tabindex="69" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="169" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="269" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="369" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="469" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="569" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="669" name="pct" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>D DIMER</td>
    <td></td>
    <td><input type="text" tabindex="70" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="170" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="270" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="370" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="470" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="570" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="670" name="dimer" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
        </div>
    </td>
    <td>SERUM FERRITIN</td>
    <td></td>
    <td><input type="text" tabindex="71" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="171" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="271" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="371" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="471" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="571" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="671" name="serumferritin" class="report_text"></td>

</tr>