
<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>PCT</td>
    <td></td>
    <td><input type="text" tabindex="60" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="160" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="260" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="360" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="460" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="560" name="pct" class="report_text"></td>
    <td><input type="text" tabindex="660" name="pct" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>D DIMER</td>
    <td></td>
    <td><input type="text" tabindex="60" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="160" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="260" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="360" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="460" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="560" name="dimer" class="report_text"></td>
    <td><input type="text" tabindex="660" name="dimer" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
        </div>
    </td>
    <td>SERUM FERRITIN</td>
    <td></td>
    <td><input type="text" tabindex="60" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="160" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="260" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="360" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="460" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="560" name="serumferritin" class="report_text"></td>
    <td><input type="text" tabindex="660" name="serumferritin" class="report_text"></td>

</tr>