<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>S. PROLACTIN</td>
    <td>1.20 TO 25</td>
    <td><input type="text" tabindex="60" name="prolactin" class="report_text"></td>
    <td><input type="text" tabindex="160" name="prolactin" class="report_text"></td>
    <td><input type="text" tabindex="260" name="prolactin" class="report_text"></td>
    <td><input type="text" tabindex="360" name="prolactin" class="report_text"></td>
    <td><input type="text" tabindex="460" name="prolactin" class="report_text"></td>
    <td><input type="text" tabindex="560" name="prolactin" class="report_text"></td>
    <td><input type="text" tabindex="660" name="prolactin" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
    </td>
    <td>S. FSH</td>
    <td>Males:1.5-12.4; Females as per phase --> Follicular:3.5-12.5; Ovulation:3.4-33.4; Luteal:1.7-7.7; PostMenopausal:25.8-134.8; </td>
    <td><input type="text" tabindex="60" name="sFsh" class="report_text"></td>
    <td><input type="text" tabindex="160" name="sFsh" class="report_text"></td>
    <td><input type="text" tabindex="260" name="sFsh" class="report_text"></td>
    <td><input type="text" tabindex="360" name="sFsh" class="report_text"></td>
    <td><input type="text" tabindex="460" name="sFsh" class="report_text"></td>
    <td><input type="text" tabindex="560" name="sFsh" class="report_text"></td>
    <td><input type="text" tabindex="660" name="sFsh" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td></td>
    <td>S. LH</td>
    <td>Males:1.5-9.3; Females as per phase --> Follicular:1.9-12.5; Ovulation:8.7-76.3; Luteal:0.5-16.9; PostMenopausal:15.9-54.0; </td>
    <td><input type="text" tabindex="60" name="sLh" class="report_text"></td>
    <td><input type="text" tabindex="160" name="sLh" class="report_text"></td>
    <td><input type="text" tabindex="260" name="sLh" class="report_text"></td>
    <td><input type="text" tabindex="360" name="sLh" class="report_text"></td>
    <td><input type="text" tabindex="460" name="sLh" class="report_text"></td>
    <td><input type="text" tabindex="560" name="sLh" class="report_text"></td>
    <td><input type="text" tabindex="660" name="sLh" class="report_text"></td>

</tr>