<tr class="tr_border">
    <td>
        <div class="vertical_td SODIUM">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM SODIUM</td>
    <td></td>
    <td><input type="text" tabindex="60" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="160" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="260" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="360" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="460" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="560" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="660" name="sodium" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td POTASSIUM">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM POTASSIUM</td>
    <td></td>
    <td><input type="text" tabindex="60" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="160" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="260" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="360" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="460" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="560" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="660" name="potassium" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td CHLORIDE">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM CHLORIDE</td>
    <td></td>
    <td><input type="text" tabindex="60" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="160" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="260" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="360" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="460" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="560" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="660" name="chloride" class="report_text"></td>

</tr>