<tr class="tr_border">
    <td>
        <div class="vertical_td SODIUM">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM SODIUM</td>
    <td></td>
    <td><input type="text" tabindex="40" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="140" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="240" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="340" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="440" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="540" name="sodium" class="report_text"></td>
    <td><input type="text" tabindex="640" name="sodium" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td POTASSIUM">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM POTASSIUM</td>
    <td></td>
    <td><input type="text" tabindex="41" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="141" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="241" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="341" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="441" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="541" name="potassium" class="report_text"></td>
    <td><input type="text" tabindex="641" name="potassium" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td CHLORIDE">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM CHLORIDE</td>
    <td></td>
    <td><input type="text" tabindex="42" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="142" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="242" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="342" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="442" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="542" name="chloride" class="report_text"></td>
    <td><input type="text" tabindex="642" name="chloride" class="report_text"></td>

</tr>