<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>AST / SGOT</td>
    <td></td>
    <td><input type="text" tabindex="46" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="146" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="246" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="346" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="446" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="546" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="646" name="sgot" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td SGPT">
            <div class="verticalTableHeader">SGPT / ALT CGHS 1475</div>
    </td>
    <td>ALT/SGPT</td>
    <td></td>
    <td><input type="text" tabindex="47" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="147" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="247" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="347" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="447" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="547" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="647" name="sgpt" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>ALKALINE PHOSPHATASE (ALP)</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="48" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="148" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="248" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="348" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="448" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="548" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="648" name="alkphosphatase" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>TOTAL PROTEIN</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="49" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="149" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="249" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="349" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="449" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="549" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="649" name="tprotein" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>SERUM ALBUMIN</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="50" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="150" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="250" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="350" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="450" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="550" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="650" name="serumalbumin" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM AMYLASE</td>
    <td></td>
    <td><input type="text" tabindex="54" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="154" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="254" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="354" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="454" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="554" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="654" name="serumamylase" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM LIPASE</td>
    <td></td>
    <td><input type="text" tabindex="55" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="155" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="255" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="355" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="455" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="555" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="655" name="serumlipase" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td COAGU">
            <div class="verticalTableHeader">COAGU CGHS 1733</div>
    </td>

<tr>
    <td></td>
    <td>INR (International Normalized Ratio)</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="60" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="160" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="260" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="360" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="460" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="560" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="660" name="inr" class="report_text"></td>

</tr>
