<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>AST / SGOT</td>
    <td></td>
    <td><input type="text" tabindex="60" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="160" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="260" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="360" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="460" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="560" name="sgot" class="report_text"></td>
    <td><input type="text" tabindex="660" name="sgot" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td SGPT">
            <div class="verticalTableHeader">SGPT / ALT CGHS 1475</div>
    </td>
    <td>ALT/SGPT</td>
    <td></td>
    <td><input type="text" tabindex="60" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="160" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="260" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="360" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="460" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="560" name="sgpt" class="report_text"></td>
    <td><input type="text" tabindex="660" name="sgpt" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>ALKALINE PHOSPHATASE (ALP)</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="60" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="160" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="260" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="360" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="460" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="560" name="alkphosphatase" class="report_text"></td>
    <td><input type="text" tabindex="660" name="alkphosphatase" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>TOTAL PROTEIN</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="60" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="160" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="260" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="360" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="460" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="560" name="tprotein" class="report_text"></td>
    <td><input type="text" tabindex="660" name="tprotein" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>SERUM ALBUMIN</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="60" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="160" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="260" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="360" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="460" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="560" name="serumalbumin" class="report_text"></td>
    <td><input type="text" tabindex="660" name="serumalbumin" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM AMYLASE</td>
    <td></td>
    <td><input type="text" tabindex="60" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="160" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="260" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="360" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="460" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="560" name="serumamylase" class="report_text"></td>
    <td><input type="text" tabindex="660" name="serumamylase" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>SERUM LIPASE</td>
    <td></td>
    <td><input type="text" tabindex="60" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="160" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="260" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="360" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="460" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="560" name="serumlipase" class="report_text"></td>
    <td><input type="text" tabindex="660" name="serumlipase" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td COAGU">
            <div class="verticalTableHeader">COAGU CGHS 1733</div>
    </td>

<tr>
    <td></td>
    <td>INR (International Normalized Ratio)</td>
    <td>70-140 Mg/dll</td>
    <td><input type="text" tabindex="60" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="160" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="260" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="360" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="460" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="560" name="inr" class="report_text"></td>
    <td><input type="text" tabindex="660" name="inr" class="report_text"></td>

</tr>
