<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader">Thyroid</div>
    </td>
    <td>TOTAL T3</td>
    <td>0.80 TO 1.60 ng/ml</td>
    <td><input type="text" tabindex="60" name="t3" class="report_text"></td>
    <td><input type="text" tabindex="160" name="t3" class="report_text"></td>
    <td><input type="text" tabindex="260" name="t3" class="report_text"></td>
    <td><input type="text" tabindex="360" name="t3" class="report_text"></td>
    <td><input type="text" tabindex="460" name="t3" class="report_text"></td>
    <td><input type="text" tabindex="560" name="t3" class="report_text"></td>
    <td><input type="text" tabindex="660" name="t3" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>TOTAL T4</td>
    <td>5.00 TO 12.00 ug/ml</td>
    <td><input type="text" tabindex="60" name="t4" class="report_text"></td>
    <td><input type="text" tabindex="160" name="t4" class="report_text"></td>
    <td><input type="text" tabindex="260" name="t4" class="report_text"></td>
    <td><input type="text" tabindex="360" name="t4" class="report_text"></td>
    <td><input type="text" tabindex="460" name="t4" class="report_text"></td>
    <td><input type="text" tabindex="560" name="t4" class="report_text"></td>
    <td><input type="text" tabindex="660" name="t4" class="report_text"></td>

</tr>

<tr>
    <td></td>
    <td>THYROID STIMULATING HORMONE (TSH)</td>
    <td>0.35 TO 5.50 uIU/ml</td>
    <td><input type="text" tabindex="60" name="tsh" class="report_text"></td>
    <td><input type="text" tabindex="160" name="tsh" class="report_text"></td>
    <td><input type="text" tabindex="260" name="tsh" class="report_text"></td>
    <td><input type="text" tabindex="360" name="tsh" class="report_text"></td>
    <td><input type="text" tabindex="460" name="tsh" class="report_text"></td>
    <td><input type="text" tabindex="560" name="tsh" class="report_text"></td>
    <td><input type="text" tabindex="660" name="tsh" class="report_text"></td>

</tr>