<tr class="tr_border troponinT">
    <td>
    </td>
    <td>TROPONIN T
        <button type="button" class="ui tiny red button" onclick="clearFields('.troponinT .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="troponinT-dropdown-1">
            <input type="hidden" name="troponinT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">TROPONIN T</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinT-dropdown-2">
            <input type="hidden" name="troponinT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">TROPONIN T</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinT-dropdown-3">
            <input type="hidden" name="troponinT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">TROPONIN T</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinT-dropdown-4">
            <input type="hidden" name="troponinT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">TROPONIN T</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinT-dropdown-5">
            <input type="hidden" name="troponinT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">TROPONIN T</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinT-dropdown-6">
            <input type="hidden" name="troponinT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">TROPONIN T</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinT-dropdown-7">
            <input type="hidden" name="troponinT">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">TROPONIN T</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>    

<tr class="tr_border troponinI">
    <td>
    </td>
    <td>TROPONIN I
        <button type="button" class="ui tiny red button" onclick="clearFields('.troponinI .dropdown')">CLEAR</button>
    </td>
    <td></td>
    <td>
        <div class="ui selection dropdown" id="troponinI-dropdown-1">
            <input type="hidden" name="troponinI">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="60">TROPONIN I</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinI-dropdown-2">
            <input type="hidden" name="troponinI">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="160">TROPONIN I</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinI-dropdown-3">
            <input type="hidden" name="troponinI">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="260">TROPONIN I</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinI-dropdown-4">
            <input type="hidden" name="troponinI">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="360">TROPONIN I</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinI-dropdown-5">
            <input type="hidden" name="troponinI">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="460">TROPONIN I</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinI-dropdown-6">
            <input type="hidden" name="troponinI">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="560">TROPONIN I</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
    <td>
        <div class="ui selection dropdown" id="troponinI-dropdown-7">
            <input type="hidden" name="troponinI">
            <i class="dropdown icon"></i>
            <div class="default text" tabindex="660">TROPONIN I</div>
            <div class="menu">
                <div class="item" data-value="POSITIVE">POSITIVE</div>
                <div class="item" data-value="NEGATIVE">NEGATIVE</div>
            </div>
        </div>
    </td>
</tr>    