<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>VITAMIN B12</td>
    <td>NORMAL: 187 - 1059 ; INTERMEDIATE: 157 - 186 ; DEFICIENT : < 157 pg/ml</td>
    <td><input type="text" tabindex="60" name="vitB12" class="report_text"></td>
    <td><input type="text" tabindex="160" name="vitB12" class="report_text"></td>
    <td><input type="text" tabindex="260" name="vitB12" class="report_text"></td>
    <td><input type="text" tabindex="360" name="vitB12" class="report_text"></td>
    <td><input type="text" tabindex="460" name="vitB12" class="report_text"></td>
    <td><input type="text" tabindex="560" name="vitB12" class="report_text"></td>
    <td><input type="text" tabindex="660" name="vitB12" class="report_text"></td>

</tr>

<tr class="tr_border">
    <td>
        <div class="vertical_td">
            <div class="verticalTableHeader"></div>
    </td>
    <td>VITAMIN D3</td>
    <td>DEFFICIENCY : <10.0; INSUFFICIENCY : 10.0 - 30.0; SUFFICIENCY: 30.0 - 100.0 ; TOXICITY: >100.0 ; nm/ml</td>
    <td><input type="text" tabindex="60" name="vitD3" class="report_text"></td>
    <td><input type="text" tabindex="160" name="vitD3" class="report_text"></td>
    <td><input type="text" tabindex="260" name="vitD3" class="report_text"></td>
    <td><input type="text" tabindex="360" name="vitD3" class="report_text"></td>
    <td><input type="text" tabindex="460" name="vitD3" class="report_text"></td>
    <td><input type="text" tabindex="560" name="vitD3" class="report_text"></td>
    <td><input type="text" tabindex="660" name="vitD3" class="report_text"></td>

</tr>